@use 'vayla-design-lib' as vayla-design;

.form-layout {
    position: relative;
    min-height: 400px;
    padding-bottom: 60px;

    &--double-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }

    &--error-at-bottom {
        padding-bottom: 0;
    }
}

.form-layout__glass {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: vayla-design.$layer-glass;
}

.form-layout--is-processing .form-layout__glass {
    display: block;
}
