@import '../../vayla-design-lib/layers';

.form-layout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    min-height: 400px;
    padding-bottom: 60px;
}

.form-layout__column {
    zoom: 1;
}

.form-layout__glass {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $layer-glass;
}

.form-layout--is-processing .form-layout__glass {
    display: block;
}
