@use 'vayla-design-lib' as vayla-design;

.km-post-edit-dialog__location-header-container {
    display: flex;
    gap: 12px;
}

.km-post-edit-dialog__location {
    display: flex;
    gap: 12px;
}

.km-post-edit-dialog__location-axis {
    display: flex;
}

.km-post-edit-dialog__location-axis-letter {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.km-post-edit-dialog__location-axis-field {
    max-width: 165px;
}

.km-post-edit-dialog__confirmed {
    display: flex;
    gap: 4px;
}

.km-post-edit-dialog__message-box {
    margin-left: -25px;
    margin-right: -25px;

    min-height: 60px;
    align-content: end;
}

.km-post-edit-dialog__crs-transform-notice {
    display: inline-flex;
    align-items: center;

    > .icon {
        margin-left: 6px;
    }

    &--warning {
        color: vayla-design.$color-lemon-dark;
        fill: vayla-design.$color-lemon-dark;
    }
}
