@use 'vayla-design-lib' as vayla-design;

.message-box {
    @include vayla-design.typography-caption;
    color: vayla-design.$color-black-default;
    overflow: hidden;

    &--info {
        background-color: vayla-design.$color-lemon-light;
    }

    &--error {
        background-color: vayla-design.$color-red-lighter;
    }
}

.message-box__inner {
    display: flex;
    align-items: center;
    padding: 10px 16px 10px 26px;
    transition: all 1s;
}

.message-box--poppable .message-box__inner {
    margin-bottom: -200px;
}

.message-box--poppable.message-box--popped .message-box__inner {
    margin-bottom: 0;
}

.message-box__icon {
    fill: vayla-design.$color-black-lighter;
    margin-right: 12px;

    &--error {
        fill: vayla-design.$color-red-dark;
    }
}
