@import '../../vayla-design-lib/typography';
@import "../geoviite-colors";

.message-box {
  @include typography-body-small;
  background-color: $color-lemon-light;
  color: $color-black-default;
  overflow: hidden;
}

.message-box__inner {
  display: flex;
  align-items: center;
  padding: 10px 16px 10px 26px;
  transition: all 1s;
}

.message-box--poppable .message-box__inner {
  margin-bottom: -200px;
}

.message-box--poppable.message-box--popped .message-box__inner {
  margin-bottom: 0px;
}

.message-box__icon {
  fill: $color-black-lighter;
  margin-right: 12px;
}
