@use '../colors';
@use '../typography';
@use '../transitions';

$table-cell-padding: 10px 16px;

.table {
    border-spacing: 0;
    border-collapse: collapse;

    > thead > tr,
    > .table__thead > .table__tr {
        // Heading row

        > th,
        > .table__th {
            // Heading cell
            @include typography.typography-table-heading;
            white-space: break-spaces;

            &.table__th--clickable {
                cursor: pointer;
                transition: all transitions.$transitions-speed-fast;

                &:hover {
                    background: colors.$color-white-darker;
                }
            }
            &--has-background {
                background: colors.$color-white-dark;
            }
        }

        > .table__th--regular {
            padding: $table-cell-padding;
        }

        > .table__th--multiline-top {
            padding: 10px 16px 5px;
        }

        > .table__th--multiline-bottom {
            padding: 5px 16px 10px;
        }

        > .table__th--unpadded {
            padding: 0;
        }
    }

    > tbody > tr,
    > .table__tbody > .table__tr {
        // Body row
    }

    &--loading {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(colors.$color-white-default, 0.67);
    }
}

td,
.table__td {
    // Body cell
    @include typography.typography-body;
    padding: $table-cell-padding;
    background: colors.$color-white-default;
    vertical-align: top;
    border-bottom: 1px solid colors.$color-white-dark;

    &.table__td--number {
        text-align: right;
    }

    &.table__td--narrow {
        padding-left: 4px;
        padding-right: 4px;
    }

    &.table__td--nowrap {
        white-space: nowrap;
    }

    &.table__td--has-stretched-container {
        position: relative;
    }
}

.table__container--loading {
    // For showing the backdrop when loading
    position: relative;
}

.table--wide {
    width: 100%;
}

.table__th-content {
    display: flex;
    align-content: center;
}

.table__th--align-left {
    text-align: left;
}

.table__th-children {
    zoom: 1;
    width: 100%;
}

.table__th-icons {
    margin-left: 8px;
}

.table__td-stretched-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex; // stretch child element
    justify-content: center;
}

// This violates BEM rules a bit as these styles are set to child component,
// but this only applies when using a special TD variant and therefore can be seen as
// a part of the API of this table component.
.table__td-stretched-container > * {
    padding-top: 12px;
    flex: 1;
    text-align: center;
}
