@use 'vayla-design-lib' as vayla-design;

$-color-error: vayla-design.$color-red-dark;
$-color-warning: vayla-design.$color-lemon-dark;

.location-track-infobox__link-alignment-guide {
    @include vayla-design.typography-caption-strong;

    margin: 0;
    padding: 7px 0;
}

.location-track-infobox-duplicate-of__ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.location-track-infobox-duplicate-of__duplicate-track {
    display: inline-flex;
    align-items: center;
}

.location-track-infobox-duplicate-of__info-icons {
    padding-left: 4px;
}

.location-track-infobox-duplicate-of__icon {
    padding: 0 6px;
    fill: vayla-design.$color-blue-dark;
    display: inline-flex;
}

.location-track-infobox-duplicate-of__icon--warning {
    fill: vayla-design.$color-lemon-dark;
}

.location-track-infobox-duplicate-of__icon--error {
    fill: vayla-design.$color-red-dark;
}

.location-track-infobox__split {
    padding-left: 11px;

    .infobox__field {
        margin-left: 25px;

        .infobox__field-label {
            max-width: 116px;
            min-width: 116px;
        }

        .infobox__field-value {
            margin-left: 12px;
        }

        .text-field {
            width: 100%;
        }

        .text-field__input {
            width: 100%;
            display: flex;
        }

        input {
            width: 100%;
        }
    }
}

.location-track-infobox__split-container {
    position: relative;
}

.location-track-infobox__split-container--endpoint {
    margin-bottom: 8px;
}

.location-track-infobox__split-fields-container {
    display: flex;
    padding-bottom: 6px;
}

.location-track-infobox__split-switch-row {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 2px;
    padding-left: 24px;
    margin-right: -12px;
}

.location-track-infobox__split-switch-row-fill {
    flex: 1;
}

.location-track-infobox__split-switch-name {
    cursor: pointer;
    padding-right: 8px;
}

.location-track-infobox__split-track-address {
    @include vayla-design.typography-sub-heading();
    font-weight: normal;
}

.location-track-infobox__split-row-with-close-button {
    display: flex;

    > .infobox__field {
        flex-grow: 1;
    }
}

.location-track-infobox__split-close-button {
    width: 22px;
    height: 20px;
    fill: vayla-design.$color-blue-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &--disabled {
        fill: vayla-design.$color-black-lighter;
    }

    &--enabled {
        fill: vayla-design.$color-blue-dark;
        cursor: pointer;

        &:hover {
            fill: vayla-design.$color-blue-light;
        }
    }
}

.location-track-infobox__split-switch-error-msg {
    padding: 4px;
    padding-left: 12px;
    margin-left: 12px;

    @include vayla-design.typography-caption;
    color: vayla-design.$color-black-default;
    background-color: vayla-design.$color-lemon-light;
}

.location-track-infobox__split-switch-error-msg--start {
    margin-bottom: 4px;
    margin-top: -4px;
}

.location-track-infobox__split-switch-error-msg--end {
    margin-bottom: -2px;
    margin-top: 8px;
}

.location-track-infobox__split-switch-error-msg--error {
    color: $-color-error;
    background-color: vayla-design.$color-red-lighter;
}

.location-track-infobox__split-remark {
    padding-top: 0px;

    > .infobox__field-value {
        display: flex;
        flex-direction: column;
    }
}

.location-track-infobox__split-operation {
    @include vayla-design.typography-caption;
    color: vayla-design.$color-black-light;
    display: inline-flex;
    align-items: center;
}

.location-track-infobox__split-operation--warning {
    color: vayla-design.$color-lemon-dark;
}

.location-track-infobox__split-operation-icon {
    fill: vayla-design.$color-black-light;
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
}

.location-track-infobox__split-operation-icon--warning {
    fill: vayla-design.$color-lemon-dark;
}

.location-track-infobox__split-error {
    color: $-color-error;
}

.location-track-infobox__split-warning {
    color: $-color-warning;
}

.location-track-infobox__split-item-ball-container {
    position: absolute;
    left: -6px;
    top: 3px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.location-track-infobox__split-item-ball {
    border-radius: 50%;
    background-color: vayla-design.$color-blue-default;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &--disabled {
        background-color: vayla-design.$color-red-default;
    }
}

.location-track-infobox__split-item-line-container {
    position: absolute;
    left: -2px;
    top: 5px;
    bottom: -4px;

    padding: 0 8px;
    display: flex;
    cursor: pointer;
}

.location-track-infobox__split-item-line {
    width: 6px;
    background-color: vayla-design.$color-blue-default;

    &--disabled {
        background-color: vayla-design.$color-red-default;
    }
}

.location-track-infobox__split-item-field-label {
    .infobox__field-label {
        margin-top: 10px;
    }
}

.location-track-infobox__relink-link {
    margin-top: 4px;
}

.location-track-infobox__validate-switch-relinking {
    display: flex;
    align-items: center;

    .spinner {
        margin-left: 12px;
    }
}
