@use 'vayla-design-lib' as vayla-design;

.location-track-infobox__link-alignment-guide {
    @include vayla-design.typography-caption-strong;

    margin: 0;
    padding: 7px 0;
}

.location-track-infobox-duplicate-of__ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
