@use 'vayla-design-lib' as vayla-design;

.location-track-infobox__link-alignment-guide {
    @include vayla-design.typography-caption-strong;

    margin: 0;
    padding: 7px 0;
}

.location-track-infobox-duplicate-of__ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.location-track-infobox-duplicate-of__on-different-track {
    .icon {
        fill: vayla-design.$color-red-dark;
    }
}

.location-track-infobox__split {
    padding-left: 11px;

    .infobox__field {
        margin-left: 25px;

        .infobox__field-label {
            max-width: 116px;
            min-width: 116px;
        }

        .infobox__field-value {
            margin-left: 12px;
        }

        .text-field {
            width: 100%;
        }

        .text-field__input {
            width: 100%;
            display: flex;
        }

        input {
            width: 100%;
        }
    }
}

.location-track-infobox__split-container {
    position: relative;
}

.location-track-infobox__split-fields-container {
    display: flex;
}

.location-track-infobox__split-row-with-close-button {
    display: flex;

    > .infobox__field {
        flex-grow: 1;
    }
}

.location-track-infobox__split-close-button {
    margin-left: 5px;
    border-radius: 18px;
    width: 20px;
    height: 20px;
    fill: vayla-design.$color-white-default;
    display: flex;
    justify-content: center;
    align-items: center;

    &--disabled {
        background-color: vayla-design.$color-black-lighter;
    }

    &--enabled {
        background-color: vayla-design.$color-blue-default;
        cursor: pointer;

        &:hover {
            fill: vayla-design.$color-white-default;
            background: vayla-design.$color-blue-light;
        }
    }
}

.location-track-infobox__split-remark {
    padding-top: 0px;

    > .infobox__field-value {
        display: flex;
        flex-direction: column;
    }
}

.location-track-infobox__split-error {
    color: vayla-design.$color-red-dark;
}

.location-track-infobox__split-item-ball {
    position: absolute;
    margin-right: 5px;
    margin-top: 3px;
    border-width: 18px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    background-color: vayla-design.$color-blue-default;

    &--disabled {
        background-color: vayla-design.$color-red-default;
    }
}

.location-track-infobox__split-item-line {
    position: absolute;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-top: 5px;
    height: 100%;
    width: 6px;
    background-color: vayla-design.$color-blue-default;

    &--disabled {
        background-color: vayla-design.$color-red-default;
    }
}

.location-track-infobox__split-item-field-label {
    .infobox__field-label {
        margin-top: 10px;
    }
}
