@use 'vayla-design-lib' as vayla-design;

$-color-error: vayla-design.$color-red-dark;
$-color-warning: vayla-design.$color-lemon-dark;

.asset-validation__error-status {
    color: $-color-error;
    fill: $-color-error;

    span {
        margin-left: 8px;
    }
}

.asset-validation__warning-status {
    color: $-color-warning;
    fill: $-color-warning;
}
