@use 'vayla-design-lib' as vayla-design;

.geometry-km-post-linking-infobox__layout-km-post-selection {
    padding-top: 8px;
    padding-bottom: 8px;
}

.geometry-km-post-linking-infobox__search {
    display: flex;
    align-items: center;
}

.geometry-km-post-linking-infobox__search-input {
    flex: 1;
    visibility: hidden;
}

.km-post-infobox-linking-infobox__currently-linked-km-posts {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    row-gap: 10px;
    column-gap: 10px;
}

.geometry-km-post-linking-infobox__layout-km-posts {
    border: 1px solid vayla-design.$color-white-darker;
    border-radius: 4px;
    padding: 10px 20px 10px 12px;

    max-height: 200px;
    overflow: auto;
    list-style: none;
    margin: 0;
}

.geometry-km-post-linking-infobox__layout-km-post {
    padding: 4px 0;

    .km-post-badge {
        cursor: pointer;
    }
}
