@use 'vayla-design-lib' as vayla-design;

.km-post-infobox__plan-link {
    overflow-wrap: anywhere;
}

.km-post-infobox__crs {
    display: inline-flex;
    align-items: center;

    .icon {
        margin-left: 6px;
    }

    &--warning .icon {
        color: vayla-design.$color-lemon-dark;
        fill: vayla-design.$color-lemon-dark;
    }
}
