@use 'vayla-design-lib' as vayla-design;

.operational-point-panel {
    &__subtitle {
        color: vayla-design.$color-black-lighter;
        font-size: 14px;
    }

    &__operational-points {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item-container {
        display: inline-block;
        padding: 3px 6px;
        border: 1px solid rgba(vayla-design.$color-black-default, 0.8);
        border-radius: 2px;
        background: vayla-design.$color-white-default;
        width: fit-content;
        cursor: pointer;
        margin: 0 6px 3px 0;

        &--selected {
            border-color: vayla-design.$color-blue-default;
            color: vayla-design.$color-blue-default;
        }

        &--disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &__item,
    &__item--selected {
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 2px;
        white-space: pre-wrap;
    }

    &__item--disabled {
        pointer-events: none;
        cursor: not-allowed;
    }

    &__name {
        @include vayla-design.typography-body-strong;
        font-size: 10px;
        line-height: 10px;
    }

    &__abbreviation {
        color: vayla-design.$color-black-lighter;
        font-size: 10px;
        line-height: 10px;
    }
}
