@use 'vayla-design-lib' as vayla-design;
@use '../../../node_modules/react-widgets/styles';

.infra-model-list {
    display: flex;
    flex-direction: column;
}

.infra-model-list__search-form {
    margin-bottom: 10px;
    max-width: 100vw;
}

.infra-model-list-search-result {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infra-model-list-search-result__status-row {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.infra-model-list-search-result__count {
    flex: 1;
    padding-left: 20px;

    & > * {
        margin-right: 6px;
    }
}

.infra-model-list-search-result__plan {
    cursor: pointer;

    &:hover {
        > td,
        > .table__td {
            background-color: vayla-design.$color-blue-lighter;
        }
    }
}

.infra-model-list-search-result {
    &__table {
        padding-left: 20px;
    }

    &__project-name {
        min-width: 440px;
    }

    &__file-name {
        min-width: 440px;
    }

    &__track-number {
        min-width: 95px;
    }

    &__kilometer {
        min-width: 75px;
    }

    &__plan-phase {
        min-width: 185px;
    }

    &__decision-phase {
        min-width: 95px;
    }

    &__date-without-time {
        min-width: 75px;
    }

    &__date-with-time {
        min-width: 145px;
    }

    &__linked-by-users {
        min-width: 130px;
    }
}

.infra-model-list-search-result__plan-paikannuspalvelu {
    @include vayla-design.typography-caption;
    color: vayla-design.$color-red-darker;
}

.tag {
    display: inline-block;
    margin: 2px;
    border-radius: 4px;
    background: vayla-design.$color-white-darker;
    padding: 4px;
    height: 15px;
    font-size: 10px;
}

.infra-model-search-form {
    display: flex;
    align-items: flex-end;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.infra-model-search-form__auto-complete {
    width: 300px;
}

.infra-model-search-form__last {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.infra-model-search-form__sources-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;

    > * {
        margin-top: 4px;
    }
}

$reactSelectOptionLimitStep: 5;
$reactSelectOptionLimitMax: 20;
:export {
    reactSelectOptionLimitStep: $reactSelectOptionLimitStep;
    reactSelectOptionLimitMax: $reactSelectOptionLimitMax;
}
