@use 'vayla-design-lib' as vayla-design;

.alignment-plan-section-infobox__plan-name {
    white-space: normal;
    word-break: break-word;
}

.alignment-plan-section-infobox__plan-link-content {
    display: inline-block;
}

.alignment-plan-section-infobox__no-plan-icon {
    fill: vayla-design.$color-red-dark;
    display: block;
    transform: translate(0, 1px);
}

.alignment-plan-section-infobox__show-plan-icon {
    display: block;
    transform: translate(0, -3px);
    cursor: pointer;
    fill: vayla-design.$color-white-darker;
    padding: 1px 2px;
    line-height: 0;
}

.alignment-plan-section-infobox__navigation {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.alignment-plan-section-infobox__navigation-checkbox {
    padding-left: 4px;
}

.alignment-plan-section-infobox__navigation-eye {
    padding-right: 8px;
}

.alignment-plan-section-infobox__meters {
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 6px;
}
