@use 'vayla-design-lib' as vayla-design;

.track-number-infobox__link-reference-line-guide {
    @include vayla-design.typography-caption-strong;

    margin: 0;
    padding: 7px 0;
}

.track-number-infobox__location-tracks-list {
    padding: 0;
    margin: 0 -16px 0 0;
    max-height: 300px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 16px;

    li {
        display: contents;
    }
}

.track-number-infobox__location-track-name {
    white-space: nowrap;
    padding: 4px 0;
}

.track-number-infobox__location-track-description {
    color: vayla-design.$color-black-light;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 0;
}

.track-number-infobox__geometry-list {
    max-height: 300px;
    overflow-y: auto;
    margin-right: -16px;
}

.geometry-reference-line-infobox {
    &__linked-status {
        .infobox__field-label {
            line-height: 24px;
        }
    }

    &__not-linked-text,
    &__linked-text {
        padding: 4px 8px;
    }

    &__not-linked-text {
        background-color: vayla-design.$color-red-lighter;
    }

    &__linked-text {
        background-color: vayla-design.$color-green-lighter;
    }

    &__linking-container {
        padding: 8px 0 8px 4px;
    }

    &__info-text {
        padding: 10px 0;
    }

    &__search-container {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        justify-content: end;
    }

    &__alignments-container {
        border: 1px solid vayla-design.$color-white-darker;
        border-radius: 4px;
        padding: 10px 20px 10px 12px;

        max-height: 200px;
        overflow: auto;
        list-style: none;
        margin: 0;
    }

    &__alignment {
        display: flex;
        align-items: center;
        padding: 4px 0;
        cursor: pointer;

        .alignment-badge {
            margin-right: 8px;
        }

        .icon {
            fill: vayla-design.$color-black-light;
        }

        & > *:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__connection-points {
        padding: 10px 0;
    }

    &__zoom-warning {
        display: flex;
        align-items: center;
        background-color: vayla-design.$color-lemon-light;
        padding: 10px 16px 10px 26px;
        margin: 0 -16px 0 -20px;
        font-size: 12px;

        .icon {
            fill: vayla-design.$color-black-lighter;
            margin-right: 12px;
        }
    }
}
