@use 'vayla-design-lib' as vayla-design;

.formgroup {
    &__title {
        @include vayla-design.typography-heading-small;
        padding: 5px 0;
        border-bottom: 1px solid vayla-design.$color-white-darker;
    }

    &__content {
        margin-bottom: 10px;
    }

    &__field {
        display: flex;
        padding: 5px 0;
        min-height: 35px;
        border-bottom: 1px solid vayla-design.$color-white-darker;
        box-sizing: border-box;
    }

    &__field-label {
        @include vayla-design.typography-caption;
        line-height: 20px;
        color: vayla-design.$color-black-light;
        width: 50%;
        max-width: 140px;
    }

    &__field-value {
        flex: 1;
        margin-left: 24px;
        overflow-wrap: anywhere;
    }

    &__field-value-content {
        zoom: 1;
        white-space: pre-wrap;
    }

    &__edit-icon {
        display: flex;
        align-items: center;
        padding: 0 5px;
        margin-left: 8px;
    }

    &__textarea {
        display: flex;
        flex: 1;
    }

    &__textarea-content {
        flex: 1;
        margin-right: 10px;
    }

    &__textarea-content textarea {
        overflow-y: hidden;
    }

    &__paragraph-with-linebreaks {
        white-space: pre-line;
        word-break: normal;
        overflow-wrap: break-word;
    }
}

.formgroup__field--has-errors .formgroup__field-label {
    color: vayla-design.$color-red-dark;
    font-weight: bold;
}

.formgroup__field-errors {
    @include vayla-design.typography-caption;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    color: vayla-design.$color-red-dark;
}

.formgroup__field--has-value-content .formgroup__field-errors {
    margin-top: 8px;
}

.formgroup__field--edit-mode .formgroup__field-errors {
    margin-top: 2px;
}

.formgroup__field-error {
    margin-bottom: 8px;
}
