@import '../../../vayla-design-lib/typography';
@import '../../../vayla-design-lib/colors';
@import '../../../vayla-design-lib/shadows';

.formgroup {
    &__title {
        @include typography-heading-small;
        padding: 5px 0;
        border-bottom: 1px solid $color-white-darker;
    }

    &__content {
        margin-bottom: 10px;
    }

    &__field {
        display: flex;
        padding: 5px 0;
        min-height: 20px;
        border-bottom: 1px solid $color-white-darker;
    }

    &__field-label {
        @include typography-caption;
        line-height: 20px;
        color: $color-black-light;
        width: 50%;
        max-width: 120px;
    }

    &__field-value {
        @include typography-body;
        width: 100%;
        margin-left: 24px;
    }

    &__edit-icon {
        padding: 0 5px;
        cursor: pointer;
        margin-right: 20px;
    }
}
