@import '../colors';
@import '../shadows';
@import '../typography';

.menu {
    @include shadow-8dp;

    background: $color-white-default;
    border-radius: 4px;
    overflow: hidden;
    z-index: 50;

    &__items {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    &__item {
        color: $color-black-default;
        fill: $color-white-default;
        height: 36px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 0 24px 0 12px;
        cursor: pointer;
        user-select: none;

        &:not(:last-child) {
            border-bottom: 1px solid $color-white-darker;
        }

        &--disabled {
            color: $color-black-lighter;
            cursor: default;
        }

        &:hover:not(.menu__item--disabled) {
            background: $color-blue-lighter;
        }
    }
}
