@use '../colors';
@use '../shadows';
@use '../typography';
@use '../layers';

.menu {
    @include shadows.shadow-8dp;

    background: colors.$color-white-default;
    border-radius: 4px;
    overflow: hidden;
    z-index: layers.$layer-popup;

    &__items {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}

.menu__item {
    color: colors.$color-black-default;
    fill: colors.$color-white-default;
    height: 36px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 24px 0 12px;
    cursor: pointer;
    user-select: none;

    &--disabled {
        color: colors.$color-black-lighter;
        cursor: default;
    }

    &:hover:not(.menu__item--disabled) {
        background: colors.$color-blue-lighter;
    }
}

.menu__divider {
    height: 1px;
    background-color: colors.$color-white-darker;
}
