@use 'vayla-design-lib' as vayla-design;

.breadcrumb {
    display: inline-flex;
    padding: 10px 0;
    align-items: center;
}

.breadcrumb__item {
    color: vayla-design.$color-black-light;
}

.breadcrumb__item--has-action {
    color: vayla-design.$color-blue-dark;
    cursor: pointer;
}

.breadcrumb__item:not(:last-child):after {
    content: '>';
    padding: 0 5px;
}
