geoviite:
  scheduling:
    enabled: true

  cache:
    enabled: true
    tasks:
      preload:
        enabled: true
        geocoding-contexts: true
        plan-headers: false

  data:
    import: false

  data-products:
    tasks:
      create-element-listing-csv:
        enabled: false

      create-vertical-geometry-listing-csv:
        enabled: false

      publication-geometry-remarks-update:
        enabled: false

  jwt:
    validation:
      enabled: false

  ratko:
    enabled: false

  # There is no need to generate any kind of OIDs in ext-api, but either Ratko or fake OID generator must be enabled.
  ratko-fake-oid-generator:
    enabled: true

  projektivelho:
    enabled: false

  ext-api:
    enabled: true
    max-batch-requests: 1000
    static-url: '/rata-vkm/static/**'
    static-resources: 'classpath:/static/frameconverter/'
    url-path-prefixes:
      - /geoviite
      - /rata-vkm
    public-hosts: "${GEOVIITE_EXT_API_PUBLIC_HOSTS:localhost}"
    private-hosts: "${GEOVIITE_EXT_API_PRIVATE_HOSTS:localhost}"
    soa-server-url: "${GEOVIITE_EXT_API_SOA_SERVER_URL:http://localhost:8080}"
    root-url: "${GEOVIITE_EXT_API_ROOT_URL:http://localhost:8080}"

springdoc:
  enable-default-api-docs: false
  trim-kotlin-indent: true
  api-docs:
    enabled: true
    path: /geoviite/v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    defaultModelsExpandDepth: -1
    query-config-enabled: true
    validatorUrl: none
    disable-swagger-default-url: true
