@use 'vayla-design-lib' as vayla-design;

.ratko-push-error {
    @include vayla-design.typography-sub-heading;
    text-transform: none;
    color: vayla-design.$color-red-dark;
    margin-bottom: 12px;

    &__design-name {
        font-weight: 600;
        margin-right: 2px;
    }
}
