@use '../colors';
@use '../typography';
@use '../size';
@use '../shadows';
@use '../layers';

$dropdown-padding-side: 12px;
$dropdown-border-default: 1px;
$dropdown-border-thick: 2px;
$dropdown-border-error: 2px;

@mixin dropdown-shadow($color, $width, $has-icon) {
    box-shadow: inset 0 0 0 $width $color;
    border-color: transparent;

    @if ($has-icon) {
        padding: 8px 8px 8px 32px;
    } @else {
        padding: 8px 8px;
    }
}

.dropdown {
    @include typography.typography-body;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 0;
    color: colors.$color-black-default;
}

.dropdown--small {
    width: 120px;
}

.dropdown--medium {
    width: 200px;
}

.dropdown--auto-width {
    max-width: 300px;
}

.dropdown--wide {
    display: block;
    width: auto;
    min-width: 165px;
}

.dropdown--stretch {
    display: block;
}

.dropdown__header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 36px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    background: colors.$color-white-default;
    cursor: pointer;

    @include dropdown-shadow(
        $color: colors.$color-black-lighter,
        $width: $dropdown-border-default,
        $has-icon: false
    );
}

.dropdown__header:hover {
    @include dropdown-shadow(
        $color: colors.$color-black-lighter,
        $width: $dropdown-border-thick,
        $has-icon: false
    );
}

.dropdown--disabled {
    .dropdown__header {
        @include dropdown-shadow($color: colors.$color-white-darker, $width: 1px, $has-icon: false);
        color: colors.$color-white-darker;
        cursor: default;
    }

    .dropdown__icon {
        fill: colors.$color-white-darker;
    }

    .dropdown__input {
        background: colors.$color-white-default;

        &:disabled {
            color: colors.$color-black-lighter;
        }
    }
}

.dropdown--has-focus .dropdown__header {
    @include dropdown-shadow(
        $color: colors.$color-blue-dark,
        $width: $dropdown-border-thick,
        $has-icon: false
    );
}

.dropdown--has-error .dropdown__header {
    @include dropdown-shadow(
        $color: colors.$color-red-dark,
        $width: $dropdown-border-error,
        $has-icon: false
    );
}

.dropdown--attach-left .dropdown__header {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.5px;
}

.dropdown--attach-right .dropdown__header {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -0.5px;
}

.dropdown__title {
    @include typography.typography-body;
    position: relative;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown__input {
    @include typography.typography-input;
    border: none;
    outline: none;
    opacity: 0;
}

.dropdown--searchable .dropdown__input {
    opacity: 1;
    width: 100%;
}

.dropdown__icon {
    margin-left: 4px;
    padding-top: 10px;
}

.dropdown__list-container {
    @include typography.typography-body;
    display: flex;
    flex-direction: column;
    background: colors.$color-white-default;
}

.dropdown__list-container--modal {
    @include shadows.shadow-8dp;
    position: absolute;
    z-index: layers.$layer-popup;
    max-height: 270px;
    border-radius: 4px;
    background: colors.$color-white-default;
}

.dropdown__list-container--inline {
    zoom: 1;
    max-height: 306px;
}

.dropdown--wide-list {
    .dropdown__list-container {
        max-width: none;
    }
}

.dropdown__list {
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
}

.dropdown__list-item {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background: colors.$color-white-default;
    height: 36px;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 0.5px solid colors.$color-white-darker;
    list-style-type: none;
    cursor: pointer;
}

.dropdown__list-item:last-child:not(.dropdown__list-item--focused) {
    border-bottom-color: transparent;
}

.dropdown__list-item:hover {
    background: colors.$color-blue-lighter;
}

.dropdown__list-item--focused {
    border: 1px dashed colors.$color-blue-default;
}

.dropdown__list-item--no-options {
    justify-content: center;
    color: colors.$color-black-lighter;
    cursor: default;
}

.dropdown__list-item--loading {
    justify-content: center;
    color: colors.$color-black-lighter;
    cursor: default;
}

.dropdown__list-item--disabled {
    color: colors.$color-black-lighter;
    user-select: none;
    cursor: default;

    &.dropdown__list-item--focused {
        border-color: colors.$color-black-lighter;
    }

    &.dropdown__list-item:hover {
        background: none;
    }
}

.dropdown__loading-indicator:after {
    content: '...';
    // TBD
}

.dropdown__list-item--selected .dropdown__list-item-icon {
    visibility: visible;
}

.dropdown__list-item-icon {
    visibility: hidden;
    width: 20px;
    flex-shrink: 0;
}

.dropdown__list-item-text {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
