@use 'vayla-design-lib' as vayla-design;

.operational-point-linking-infobox {
    &__edit-buttons {
        display: flex;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    &__direction-title {
        @include vayla-design.typography-caption;
        color: vayla-design.$color-black-light;
        display: flex;
        align-items: start;
        width: 100%;
    }
    &__location-tracks-direction-content {
        border: 1px grey solid;
        padding: 12px;
        height: 256px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto 0fr 1fr;
        grid-gap: 4px;
        justify-items: start;
        align-items: center;
        align-content: start;
        &--empty {
            display: block;
        }
    }
    &__switch-direction-content {
        border: 1px grey solid;
        padding: 12px;
        height: 256px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto auto 0fr 1fr;
        grid-gap: 4px;
        justify-items: start;
        align-items: center;
        align-content: start;

        &--empty {
            display: block;
        }
    }
    &__position-pin {
        display: flex;
        cursor: pointer;
        padding: 0 4px;
    }
    &__validation-issue-badge {
        display: flex;
        flex-direction: row;
        color: vayla-design.$color-lemon-dark;
        fill: vayla-design.$color-lemon-dark;
        align-items: center;
        gap: 4px;
        font-size: 10px;
        line-height: 12px;
    }
}

.operational-point-infobox {
    &__station-links-list {
        padding: 0;
        max-height: 300px;
        overflow-y: auto;
        list-style: none;

        li {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__station-link-header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 8px;
        align-items: center;
        margin-bottom: 4px;
    }

    &__station-link-name {
        font-weight: 500;
    }

    &__station-link-length {
        text-align: right;
    }

    &__station-link-tracks {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding-left: 16px;
    }
}
