@use 'vayla-design-lib' as vayla-design;

.operational-point-linking-infobox {
    &__edit-buttons {
        display: flex;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    &__direction-title {
        @include vayla-design.typography-caption;
        color: vayla-design.$color-black-light;
        display: flex;
        align-items: start;
        width: 100%;
    }
    &__location-tracks-direction-content {
        border: 1px grey solid;
        padding: 12px;
        height: 256px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto 0fr 1fr;
        grid-gap: 4px;
        justify-items: start;
        align-items: center;
        align-content: start;
        &--empty {
            display: block;
        }
    }
    &__switch-direction-content {
        border: 1px grey solid;
        padding: 12px;
        height: 256px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto auto 0fr 1fr;
        grid-gap: 4px;
        justify-items: start;
        align-items: center;
        align-content: start;

        &--empty {
            display: block;
        }
    }
    &__empty-linking-list-remark {
    }
    &__position-pin {
        display: flex;
        cursor: pointer;
        padding: 0 4px;
    }
    &__validation-issue-badge {
        display: flex;
        flex-direction: row;
        color: vayla-design.$color-lemon-dark;
        fill: vayla-design.$color-lemon-dark;
        align-items: center;
        gap: 4px;
        font-size: 10px;
        line-height: 12px;
    }
}
