@use 'vayla-design-lib' as vayla-design;

.operational-point-linking-infobox {
    &__direction-title {
        @include vayla-design.typography-caption;
        color: vayla-design.$color-black-light;
        display: flex;
        align-items: start;
        width: 100%;
    }
    &__direction-content {
        margin-top: 7px;
        display: grid;
        grid-template-columns: auto 0fr 1fr;
        justify-items: start;
        align-items: center;
    }
    &__validation-issue-badge {
        display: flex;
        flex-direction: row;
        color: vayla-design.$color-lemon-dark;
        fill: vayla-design.$color-lemon-dark;
        align-items: center;
        gap: 4px;
        font-size: 10px;
        line-height: 12px;
    }
}
