.operational-point-edit-dialog__rinf-code-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.operational-point-edit-dialog__rinf-code-switch-label {
    font-size: 12px;
    font-weight: 400;
    margin-right: 6px;
}
