.licenses {
    padding: {
        top: 16px;
        right: 32px;
        bottom: 128px;
        left: 32px;
    }

    td {
        white-space: break-spaces;
    }

    th {
        text-align: left;
        padding: {
            right: 16px;
            left: 16px;
        }
    }
}
