@use 'vayla-design-lib' as vayla-design;

.switch-edit-dialog__warning {
    fill: vayla-design.$color-red-default;
    margin-bottom: 14px;
}

.switch-edit-dialog__delete-button {
    position: absolute;
}

.switch-edit-dialog__confirmation-list {
    margin: 0;
    padding: 0;
    list-style: inside;
}

.switch-edit-dialog__alert {
    @include vayla-design.typography-caption;
}

.switch-edit-dialog__alert-color {
    @include vayla-design.typography-caption;
    color: vayla-design.$color-lemon-dark;
}

.switch-edit-dialog__switch-oid-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch-edit-dialog__switch-oid-switch-label {
    font-size: 12px;
    font-weight: 400;
    margin-right: 6px;
}

.switch-edit-dialog__switch-oid-ok {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.switch-edit-dialog__switch-oid-ok svg {
    fill: vayla-design.$color-green-dark;
    margin-right: 4px;
}
