@use '../colors';
@use '../transitions';
@use '../typography';
@use '../size';
@use '../animation';

$button-border-radius: 4px;
$button-border-focus: 1px dashed colors.$color-white-default;
$button-animation-size: 20px;
$button-animation-size-small: 12px;

@mixin button-text-color($color) {
    color: $color;
    fill: $color;
}

.button {
    @include typography.typography-body-strong;
    position: relative;
    vertical-align: middle;
    height: size.$input-height;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    border-radius: $button-border-radius;
    outline: none; // disable default focus indicator
    cursor: pointer;
    transition: all transitions.$transitions-speed-fast;
    white-space: nowrap;
}

.button--icon-at-end {
    flex-direction: row-reverse;
}

.button--wide {
    width: 100%;
}

.button.button--inherit-typography {
    font: inherit;
    color: inherit;
}

.button--attach-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.5px;
}

.button--attach-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -0.5px;
}

.button.button--size-small {
    height: 24px;
}

.button--has-icon {
    padding: 8px 12px 8px 8px;
}

.button--primary {
    @include button-text-color(colors.$color-blue-lighter);
    background: colors.$color-blue-default;
    border: 1px solid colors.$color-blue-default;

    &:hover {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-blue-light;
        border-color: colors.$color-blue-light;
    }

    &:focus {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-blue-default;
        border: $button-border-focus;
    }

    // pressed state
    &:active {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-blue-light;
        border-color: colors.$color-blue-light;
    }

    &[disabled],
    &.button--disabled {
        @include button-text-color(colors.$color-black-lighter);
        background: colors.$color-white-darker;
        border-color: colors.$color-white-darker;
        cursor: default;
    }
}

.button--secondary {
    @include button-text-color(colors.$color-blue-dark);
    background: colors.$color-white-default;
    border: 1px solid colors.$color-blue-dark;

    &.button--attach-left,
    &.button--attach-right {
        border-color: colors.$color-black-lighter;
    }

    &:hover {
        background: colors.$color-blue-lighter;
    }

    &:focus {
        border: 1px dashed colors.$color-blue-dark;
    }

    // pressed state
    &:active,
    &.button--pressed {
        @include button-text-color(colors.$color-blue-dark);
        background: colors.$color-blue-lighter;
        border-color: colors.$color-blue-dark;
    }

    &[disabled],
    &.button--disabled {
        @include button-text-color(colors.$color-black-lighter);
        background: colors.$color-white-darker;
        border: colors.$color-white-darker;
        cursor: default;
    }
}

.button--warning {
    @include button-text-color(colors.$color-red-dark);
    background: colors.$color-white-default;
    border: 1px solid colors.$color-red-dark;

    &:hover {
        background: colors.$color-red-lighter;
    }

    &:focus {
        border: 1px dashed colors.$color-red-dark;
    }

    // pressed state
    &:active {
        @include button-text-color(colors.$color-red-dark);
        background: colors.$color-red-lighter;
        border-color: colors.$color-red-dark;
    }

    &[disabled],
    &.button--disabled {
        @include button-text-color(colors.$color-black-lighter);
        background: colors.$color-white-darker;
        border: colors.$color-white-darker;
        cursor: default;
    }
}

.button--primary-warning {
    @include button-text-color(colors.$color-red-lighter);
    background: colors.$color-red-default;
    border: 1px solid colors.$color-red-default;

    &:hover {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-red-light;
        border-color: colors.$color-red-light;
    }

    &:focus {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-red-default;
        border: $button-border-focus;
    }

    // pressed state
    &:active {
        @include button-text-color(colors.$color-white-default);
        background: colors.$color-red-light;
        border-color: colors.$color-red-light;
    }

    &[disabled],
    &.button--disabled {
        @include button-text-color(colors.$color-black-lighter);
        background: colors.$color-white-darker;
        border-color: colors.$color-white-darker;
        cursor: default;
    }
}

.button--ghost {
    @include button-text-color(colors.$color-blue-dark);
    background: transparent;
    border: 1px solid transparent;

    &:hover {
        background: colors.$color-blue-lighter;
    }

    &:focus {
        border: 1px dashed colors.$color-blue-dark;
    }

    // pressed state
    &:active {
        @include button-text-color(colors.$color-blue-dark);
        background: colors.$color-blue-lighter;
        border-color: colors.$color-blue-dark;
    }

    &[disabled],
    &.button--disabled {
        @include button-text-color(colors.$color-black-lighter);
        background: transparent;
        cursor: default;
    }
}

.button__icon-and-animation {
    position: relative;
    width: 0;
    transition: all transitions.$transitions-speed-fast;
}

.button--has-icon {
    padding: 8px 12px;

    .button__icon-and-animation {
        display: flex;
        align-items: center;
        width: auto;
    }

    .button__label {
        margin-left: 8px;
    }

    &.button--icon-at-end {
        .button__label {
            margin-left: 0;
            margin-right: 8px;
        }
    }
}

.button__icon {
    // button__icon contains an icon
    transition: all transitions.$transitions-speed-fast;
    display: flex;
    align-items: center;
}

.button--has-animation:not(.button--has-icon) {
    padding-left: 12px;

    &.button--size-small {
        padding-left: 6px;
    }

    .button__icon-and-animation {
        width: 20px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.button--has-animation.button--has-icon {
    padding-left: 12px;

    .button__label {
        margin-left: 8px;
    }

    .button__icon {
        opacity: 0;
    }
}

.button--has-animation.button--has-icon.button--no-label {
    padding-left: 8px;

    &.button--size-small {
        padding-left: 5px;
    }
}

.button__animation {
    @include animation.spinner-animation;
    position: absolute;
    width: $button-animation-size;
    height: $button-animation-size;
    top: 50%;
    left: 50%;
    margin-top: -$button-animation-size * 0.5;
    margin-left: -$button-animation-size * 0.5;
    box-sizing: border-box;
}

.button--size-small .button__animation {
    width: $button-animation-size-small;
    height: $button-animation-size-small;
    margin-top: -$button-animation-size-small * 0.5;
    margin-left: -$button-animation-size-small * 0.5;
}

.button--no-label {
    padding: 8px;
}

.button--no-label.button--has-icon {
    width: 36px;
    justify-content: center;
}

.button--no-label.button--has-icon.button--size-small {
    width: 24px;
}

.button--no-label.button--has-icon.button--size-x-small {
    width: 20px;
}

.button--size-small {
    padding: 2px 12px;
    height: 24px;
}

.button--size-x-small {
    height: 20px;
    width: 20px;
}

.button--size-small.button--has-icon {
    padding: 2px 8px 2px 8px;
}

.button--size-x-small.button--has-icon {
    padding: 2px 8px 2px 8px;
}

.button--size-small.button--no-label {
    padding: 5px;
}

.button--size-x-small.button--no-label {
    padding: 5px;
}
