.publication-table__container {
    overflow-y: auto;
    height: 100%;
}

.publication-table__header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.publication-table__count-header {
    margin-bottom: 12px;
}

.publication-table__message-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.ellipsis-after {
}
