@use 'vayla-design-lib' as vayla-design;

.publication-table {
    position: relative;

    &__table-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &__accordion-column {
        width: 0%;
        padding-right: 0px;
    }

    &__message-column {
        max-width: 200px;
    }

    &__message-content {
        text-overflow: ellipsis;
        overflow: hidden;

        &--collapsed {
            white-space: nowrap;
        }

        &--expanded {
            white-space: pre-wrap;
        }
    }

    &__message-icon {
        float: right;

        .icon {
            transition: transform 150ms;
        }

        &--open .icon {
            transform: rotate(180deg);
        }
    }

    &__row-details {
        &--borderless > td {
            border: none;
        }
    }

    &__row-details-left-bar-container {
        position: relative;
    }

    &__row-details-left-bar {
        position: absolute;
        width: 4px;
        top: 0;
        left: 24px;
        height: 100%;
        background-color: vayla-design.$color-blue-default;
    }
}
