@import 'vayla-design-lib/colors';

.publication-table {
    overflow-y: auto;
    height: 100%;

    &__table-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    &__count-header {
        margin-bottom: 12px;
    }

    &__message-column {
        max-width: 200px;
    }

    &__message-content {
        text-overflow: ellipsis;
        overflow: hidden;

        &--collapsed {
            white-space: nowrap;
        }

        &--expanded {
            white-space: pre-wrap;
        }
    }

    &__message-icon {
        float: right;
        .icon {
            transition: transform 150ms;
        }

        &--open .icon {
            transform: rotate(180deg);
        }
    }

    &__table-container {
        position: relative;
    }

    &__row-details {
        &--borderless > td {
            border: none;
        }

        &-left-bar {
            &-container {
                position: relative;
            }

            position: absolute;
            width: 4px;
            top: 0;
            left: 24px;
            height: 100%;
            background-color: $color-blue-default;
            z-index: 1;
        }
    }
}
