@import '../../vayla-design-lib/colors';

.velho-file-list {
    padding: 20px;
}
.velho-file-list__expanded {
    display: flex;
    flex-direction: row;

    .infobox__content {
        width: 390px;
    }
}

.velho-file-list__table {
    padding: 1;

    > thead > tr > th,
    > tbody > tr > td {
        align-content: center;
        text-align: left;
        &:first-of-type {
            width: 8px;
        }
        &:last-of-type {
            width: 250px;
        }
    }
}

.velho-file-list__buttons {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-between;
}

.velho-file-list__link {
    display: flex;
    text-decoration: none;
    :not(:first-child) {
        margin-left: 6px;
    }
    fill: $color-blue-dark;
}
