@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/shadows';
@import '../vayla-design-lib/typography';

.vertical-geometry-diagram {
    width: 100%;
    cursor: grab;

    &--panning {
        cursor: grabbing;
    }
}

.vertical-geometry-diagram-holder__backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-white-default, 0.67);
}

.vertical-geometry-diagram-holder__close-icon {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    height: 16px;
    padding: 2px;
    background: rgba($color-white-default, 0.85);
}

.vertical-geometry-diagram-holder {
    display: flex;
    height: 100%;
    flex: 1;
    position: relative;

    .vertical-geometry-diagram {
        padding: 8px;
    }
}

.vertical-geometry-diagram-holder__no-diagram,
.vertical-geometry-diagram-holder__not-alignment {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-geometry-diagram__plan-link {
    cursor: pointer;
}

.vertical-geometry-diagram__tooltip {
    background: $color-white-darker;
    color: $color-black-default;
    border-radius: 2px;
    padding: 4px 8px;
}

.vertical-geometry-diagram__text-stroke-narrow,
.vertical-geometry-diagram__text-stroke-wide {
    stroke: $color-white-default;
    paint-order: stroke;
}

.vertical-geometry-diagram__text-stroke-narrow {
    stroke-width: 4;
}

.vertical-geometry-diagram__text-stroke-wide {
    stroke-width: 6;
}
