@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/shadows';

.vertical-geometry-diagram {
    width: 100%;
    cursor: grab;
    &__panning {
        cursor: grabbing;
    }
}

.vertical-geometry-diagram__plan-link {
    cursor: pointer;
}

.vertical-geometry-diagram__tooltip {
    background: $color-white-darker;
    color: $color-black-default;
    border-radius: 2px;
    padding: 4px 8px;
}

.vertical-geometry-diagram__close-icon {
    cursor: pointer;
    position: absolute;
    background-color: white;
    margin: 5px 0;
    right: 0;
}
