@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/shadows';

.publication-details {
    &__title {
        @include typography-heading-small;

        display: flex;
        flex-direction: row;
        width: 100vw;
        color: $color-black-default;
        background-color: $color-white-dark;
        box-shadow: 0 1px 1px rgba($color-black-default, 0.12);
        margin-bottom: 8px;
        padding: 12px 0 8px 20px;
        line-height: 20px;
        font-size: 14px;
    }

    &__publication {
        display: flex;
        flex-direction: column;
    }

    &__footer {
        @include shadow-8dp;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px;
        grid-gap: 24px;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0 10px;
    }

    &__failure-notification {
        display: flex;

        &__content {
            @include typography-body-strong;
            margin-left: 16px;
            margin-top: auto;
            margin-bottom: auto;
        }

        &--info {
            fill: $color-black-lighter;
        }

        &--error {
            fill: $color-red-default;
        }
    }

    &__content {
        background: $color-white-default;
        padding: 24px;
        flex-grow: 1;
    }
}
