@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/typography';

$color-ok: $color-green-dark;
$color-error: $color-red-dark;
$color-warning: #9f6700;

.preview-table-item {
    &__checkbox {
        margin-right: 8px;
    }

    &__error-icon {
        fill: $color-error;
    }

    &__accordion {
        width: 20px;
    }

    &__buttons {
        display: inline-flex;
    }
}

.preview-table-item__status-cell {
    > *:not(:first-child):before {
        margin-left: 8px;
        content: ' ';
    }

    zoom: 1;
}

.preview-table-item__ok-status {
    color: $color-ok;
    fill: $color-ok;
}

.preview-table-item__error-status {
    color: $color-error;
    fill: $color-error;
}

.preview-table-item__warning-status {
    color: $color-warning;
    fill: $color-warning;
}

.preview-table-item__status-cell--expandable {
    cursor: pointer;
}

.preview-table-item__actions--cell {
    display: contents;

    > div {
        display: inline-flex;
    }
}

.preview-table-item--error {
    cursor: default;
}

.table .preview-table-item--error td {
    padding: 5px 30px;
}

.preview-table-item__msg-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.preview-table-item__group-title {
    @include typography-sub-heading;
    text-transform: none;
}

.preview-table-item__msg-group--errors .preview-table-item__group-title {
    color: $color-error;
}

.preview-table-item__msg-group--warnings .preview-table-item__group-title {
    color: $color-warning;
}

.preview-table-item__msg {
    margin: 10px 0;
}

.preview-table-item__title-menu {
    .menu {
        position: absolute;
        margin-top: 5px;
        z-index: 10;
    }
}
