@use 'vayla-design-lib' as vayla-design;

.publication-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        color: vayla-design.$color-black-lighter;
        background-color: vayla-design.$color-white-dark;
        box-shadow: 0 1px 1px rgba(vayla-design.$color-black-default, 0.12);
        margin-bottom: 8px;
        padding: 12px 0 8px 20px;
    }

    &__publication-time {
        white-space: pre;
    }

    &__content {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
    }

    .publication-table {
        scrollbar-gutter: stable;
        overflow: auto;
    }

    &__count-header {
        margin-bottom: 12px;
        display: flex;
    }

    &__footer {
        @include vayla-design.shadow-8dp;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 68px;
        z-index: 1;
    }

    &__failure-notification {
        display: flex;
        margin-right: 24px;

        &__content {
            @include vayla-design.typography-body-strong;
            margin: auto 0 auto 16px;
        }

        &--info {
            fill: vayla-design.$color-black-lighter;
        }

        &--error {
            fill: vayla-design.$color-red-default;
        }
    }
}
