@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/colors';

$color-error: $color-red-dark;

.publication-card {
    padding-top: 0;

    &__title {
        @include typography-heading;
    }

    &__subsection-title {
        @include typography-body-strong;
        margin-bottom: 12px;
    }

    &__ratko-push-button {
        margin-bottom: 12px;
    }

    &__title-errors {
        @include typography-sub-heading;
        text-transform: none;
        color: $color-error;
    }
    &__ratko-connection-error {
        list-style: none;
        padding-left: 0px;
    }
}
