@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/shadows';

.publication-details {
    &__title {
        @include typography-body;

        color: $color-black-lighter;
        background-color: $color-white-dark;
        box-shadow: 0 1px 1px rgba($color-black-default, 0.12);
        margin-bottom: 8px;
        padding: 12px 0 8px 20px;
    }

    &__publication {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__footer {
        @include shadow-8dp;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 68px;
    }

    &__failure-notification {
        display: flex;
        margin-right: 24px;

        &__content {
            @include typography-body-strong;
            margin: auto 0 auto 16px;
        }

        &--info {
            fill: $color-black-lighter;
        }

        &--error {
            fill: $color-red-default;
        }
    }

    &__content {
        background: $color-white-default;
        padding: 24px;
        flex-grow: 1;
    }
}
