@use 'vayla-design-lib' as vayla-design;

.linking-status-label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    padding-left: 8px;
    padding-right: 8px;

    &--linked {
        background-color: vayla-design.$color-green-lighter;
        border-color: rgba(0, 0, 0, 0.5);
    }

    &--unlinked {
        background-color: vayla-design.$color-red-lighter;
        border-color: rgba(0, 0, 0, 0.5);
    }

    &--clickable {
        cursor: pointer;
    }
}
