@use '../colors';
@use '../typography';
@use '../transitions';

.radio {
    cursor: pointer;
}

.radio__input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio__visualization {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    background: colors.$color-white-default;
    border: 1px solid colors.$color-blue-default;
    border-radius: 50%;

    transition: all transitions.$transitions-speed-fast;
}

.radio__checked-marker {
    opacity: 0;
    width: 12px;
    height: 12px;
    background: colors.$color-blue-default;
    border-radius: 50%;
}

.radio__input:checked + .radio__visualization {
    .radio__checked-marker {
        opacity: 1;
    }
}

.radio--touched .radio__input:checked + .radio__visualization .radio__checked-marker {
    animation: pop transitions.$transitions-speed-fast;
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    85% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.radio__label-text {
    @include typography.typography-body;
    margin-left: 8px;

    &--disabled {
        color: colors.$color-black-lighter;
    }
}

// Hover state

.radio:hover,
.radio--hover {
    .radio__visualization {
        background: colors.$color-blue-lighter;
    }

    .radio__input:checked + .radio__visualization {
        background: colors.$color-blue-lighter;
        border-color: colors.$color-blue-default;

        .radio__checked-marker {
            opacity: 1;
        }
    }
}

// Focus state

.radio--focus,
.radio__input:focus + {
    .radio__visualization {
        background: colors.$color-blue-lighter;
        border-style: dashed;
    }
}

.radio--focus .radio__input:checked,
.radio__input:focus.radio__input:checked {
    + {
        .radio__visualization {
            border-style: dashed;
            background: colors.$color-blue-lighter;
            border-color: colors.$color-blue-default;

            .radio__checked-marker {
                opacity: 1;
            }
        }
    }
}

// Disabled state

.radio--disabled {
    cursor: default;
}

.radio--disabled,
.radio__input:disabled {
    + {
        .radio__visualization {
            border: 1px solid colors.$color-white-darker;
            background: colors.$color-white-default;
        }
    }
}

.radio--disabled .radio__input:checked,
.radio__input:disabled.radio__input:checked {
    + {
        .radio__visualization {
            border: 1px solid colors.$color-white-darker;
            background: colors.$color-white-default;

            .radio__checked-marker {
                background: colors.$color-white-darker;
            }
        }
    }
}
