@use 'vayla-design-lib' as vayla-design;

.version-holder-view {
    color: vayla-design.$color-black-default;
    position: fixed;
    bottom: 0;
    right: 0;
    background: vayla-design.$color-white-dark;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 10;
}
