@use 'vayla-design-lib' as vayla-design;

.calculated-changes-view {
    display: flex;
    height: 100%;
    flex-direction: column;

    &__header {
        position: sticky;
        top: 0;
    }

    &__title {
        @include vayla-design.typography-heading-small;
    }

    .accordion__header-title {
        @include vayla-design.typography-sub-heading;
    }

    .accordion__body {
        margin-bottom: 16px;
    }

    &__track-number-changes {
        padding-left: 32px;
        margin: 0;
    }

    &__location_tracks,
    &__switches {
        margin-bottom: 6px;

        ul {
            padding-left: 16px;
        }

        li {
            padding: 2px 0;
        }
    }

    &__changes-list {
        overflow-y: auto;
    }
}
