@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/shadows';

$color-ok: $color-green-dark;
$color-error: $color-red-dark;
$color-warning: #9f6700;

.preview-view {
    flex: 1;
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 50px calc(100% - 50px - 70px) 70px;
    column-gap: 0;
    background: $color-white-default;
}

.preview-tool-bar {
    @include shadow-4dp;

    padding-left: 24px;
    grid-column: 1 / -1;
    display: flex;
    background: $color-white-dark;
    z-index: 1;

    &__title {
        @include typography-sub-heading;
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__right-section {
        margin-right: 1em;
        display: flex;
        align-items: center;
    }
}

.preview-view__changes {
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;

    &-title {
        align-items: center;
        justify-content: space-between;
        display: flex;

        h3 {
            @include typography-heading-small;
        }

        h4 {
            @include typography-caption;
        }
    }
}

.preview-section {
    max-height: 33%;
    display: flex;
    flex-direction: column;
}

.preview-footer {
    @include shadow-8dp;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 33%;

    &__action-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-right: 24px;
        }
    }

    &__map-toggle {
        display: flex;
        align-items: center;
    }
}

.preview-table__container {
    overflow-y: auto;
    height: 100%;
}

.preview-table__header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.preview-table-item {
    &__checkbox {
        margin-right: 8px;
    }

    &__error-icon {
        fill: $color-error;
    }

    &__accordion {
        width: 20px;
    }

    &__buttons {
        display: inline-flex;
    }
}

.preview-table-item__status-cell {
    > *:not(:first-child):before {
        margin-left: 8px;
        content: ' ';
    }

    zoom: 1;
}

.preview-table-item__ok-status {
    color: $color-ok;
    fill: $color-ok;
}

.preview-table-item__error-status {
    color: $color-error;
    fill: $color-error;
}

.preview-table-item__warning-status {
    color: $color-warning;
    fill: $color-warning;
}

.preview-table-item__status-cell--expandable {
    cursor: pointer;
}

.preview-table-item__actions--cell {
    display: contents;

    > div {
        display: inline-flex;
    }
}

.preview-table-item--error {
    cursor: default;
}

.table .preview-table-item--error td {
    padding: 5px 30px;
}

.preview-table-item__msg-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.preview-table-item__group-title {
    @include typography-sub-heading;
    text-transform: none;
}

.preview-table-item__msg-group--errors .preview-table-item__group-title {
    color: $color-error;
}

.preview-table-item__msg-group--warnings .preview-table-item__group-title {
    color: $color-warning;
}

.preview-table-item__msg {
    margin: 10px 0;
}
