@use 'vayla-design-lib' as vayla-design;

$-color-ok: vayla-design.$color-green-dark;
$-color-error: vayla-design.$color-red-dark;
$-color-warning: vayla-design.$color-lemon-dark;

.preview-view {
    flex: 1;
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 50px calc(100% - 50px - 70px) 70px;
    column-gap: 0;
    background: vayla-design.$color-white-default;
}

.preview-tool-bar {
    @include vayla-design.shadow-4dp;

    padding-left: 24px;
    grid-column: 1 / -1;
    display: flex;
    z-index: 1;

    &__draft {
        background-color: vayla-design.$color-blue-lighter;
    }

    &__design {
        background-color: vayla-design.$color-lemon-light;
    }

    &__title {
        @include vayla-design.typography-heading-small;
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__radio-buttons {
        margin-left: 24px;

        > :first-child {
            margin-right: 16px;
        }
    }

    &__right-section {
        margin-right: 1em;
        display: flex;
        align-items: center;
    }
}

.preview-view__changes {
    padding: 0 24px 24px 24px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;

    &-title {
        align-items: center;
        justify-content: space-between;
        display: flex;

        h3 {
            @include vayla-design.typography-heading-small;
        }

        h4 {
            @include vayla-design.typography-caption;
        }
    }
}

.preview-view__changes--no-calculated-changes {
    grid-template-rows: 2fr 2fr 0fr;
}

.preview-section__spinner-container {
    margin-top: 16px;
}

.preview-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.preview-footer {
    @include vayla-design.shadow-8dp;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: auto 33%;

    &__action-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-right: 24px;
        }
    }

    &__map-toggle {
        display: flex;
        align-items: center;
    }
}

.preview-table__container {
    overflow: auto;
    scrollbar-gutter: stable;
    border-bottom: 1px solid vayla-design.$color-white-dark;
}

.preview-table__container table tr:last-child td {
    border-bottom: none;
}

.preview-table__header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.preview-table__header--change-target {
    width: auto;
}

.preview-table__header--track-number-short,
.preview-table__header--status {
    width: 15%;
}

.preview-table__header--modified-moment {
    width: 115px;
}

.preview-table__header--change-type,
.preview-table__header--user,
.preview-table__header--actions {
    width: 70px;
}

.preview-table-item__track-number {
    display: inline-block;
    margin-right: 4px;
}

.preview-table-item {
    &__checkbox {
        margin-right: 8px;
    }

    &__error-icon {
        fill: $-color-error;
    }

    &__accordion {
        width: 20px;
    }

    &__buttons {
        display: inline-flex;
    }

    &__revert-spinner {
        padding: 10px;
    }
}

.preview-table-item__ok-status {
    color: $-color-ok;
    fill: $-color-ok;
}

.preview-table-item__error-status {
    display: block;
    color: $-color-error;
    fill: $-color-error;
}

.preview-table-item__warning-status {
    display: block;
    color: $-color-warning;
    fill: $-color-warning;
}

.preview-table-item__status-cell--expandable {
    cursor: pointer;
}

.preview-table-item__actions--cell {
    padding: 2px 8px 0 8px;

    > div {
        display: inline-flex;
    }
}

.preview-table-item--error {
    cursor: default;
}

.table .preview-table-item--error td {
    padding: 5px 30px;
}

.preview-table-item__msg-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.preview-table-item__group-title {
    @include vayla-design.typography-sub-heading;
    text-transform: none;
}

.preview-table-item__msg-group--errors .preview-table-item__group-title {
    color: $-color-error;
}

.preview-table-item__msg-group--warnings .preview-table-item__group-title {
    color: $-color-warning;
}

.preview-table-item__msg {
    margin: 10px 0;
}

.preview-confirm__description {
    margin-bottom: 20px;
}
