$color-white-default: #ffffff;
$color-white-dark: #f0f0f0;
$color-white-darker: #d6d6d6;

$color-black-default: #000000;
$color-black-light: #5c5c5c;
$color-black-lighter: #858585;

$color-blue-lighter: #e0edf9;
$color-blue-light: #66a3e0;
$color-blue-default: #0066cc;
$color-blue-dark: #004d99;
$color-blue-darker: #0b335a;

$color-red-lighter: #f8d7d1;
$color-red-light: #d9a599;
$color-red-default: #de3618;
$color-red-dark: #b40a14;
$color-red-darker: #5c070c;

$color-lemon-light: #fff0bf;
$color-lemon: #ffc300;
$color-lemon-dark: #9f6700;

$color-green-lighter: #e0f5df;
$color-green-light: #a7d2a0;
$color-green-default: #27b427;
$color-green-dark: #1c891c;
$color-green-darker: #0e430e;

$fig-default: #00b0cc;
$fig-light: #afe1e9;
$eggplant-default: #a050a0;
$eggplant-light: #debbee;
$pitaya-default: #e50083;
$pitaya-light: #ffc6e5;
$pea-default: #8dcb6d;
$pea-light: #e2fdc0;
