$font-family: 'Open Sans', sans-serif;

@mixin typography-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

@mixin typography-heading {
    font-family: $font-family;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

@mixin typography-heading-small {
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

@mixin typography-sub-heading($text-transform: uppercase) {
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: $text-transform;
}

@mixin typography-table-heading {
    @include typography-sub-heading(none);
}

@mixin typography-body($font-weight: 400) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: 14px;
    line-height: 20px;
}

@mixin typography-body-strong {
    @include typography-body(600);
}

@mixin typography-caption($font-weight: 400) {
    font-family: $font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: $font-weight;
    line-height: 16px;
    white-space: pre-wrap;
}

@mixin typography-caption-strong {
    @include typography-caption(600);
}

@mixin typography-input {
    @include typography-body;
}
