@use "@fontsource/open-sans/scss/mixins";

$font-family: 'Open Sans';

@mixin typography-title {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

@mixin typography-title-small {
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@mixin typography-heading {
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

@mixin typography-heading-small {
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

@mixin typography-sub-heading {
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

@mixin typography-table-heading {
    @include typography-sub-heading;
    text-transform: none;
}

@mixin typography-body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
}

@mixin typography-body-strong {
    @include typography-body;
    font-weight: 600;
}

@mixin typography-body-small {
    font-family: $font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@mixin typography-body-strong-extra-small {
    @include typography-body-strong;
    font-size: 10px;
}

@mixin typography-caption {
    font-family: $font-family;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

@mixin typography-caption-strong {
    @include typography-caption;
    font-weight: 600;
}

@mixin typography-input {
    @include typography-body;
}
