@use '../colors';

$icon-size-original: 24px;
$icon-size-small: 12px;
$icon-size-medium-small: 16px;
$icon-size-medium: 20px;
$icon-size-large: 30px;

.icon:not(.icon--color-inherit) {
    fill: colors.$color-blue-dark;
}

.icon.icon--color-original {
    fill: none;
}

.icon.icon--color-disabled {
    fill: colors.$color-black-lighter;
}

@mixin icon-size($size) {
    max-width: $size;
    width: $size;
    min-width: $size;
    max-height: $size;
    height: $size;
    min-height: $size;
}

.icon--size-small {
    @include icon-size($icon-size-small);
}

.icon--size-medium-small {
    @include icon-size($icon-size-medium-small);
}

.icon--size-medium {
    @include icon-size($icon-size-medium);
}

.icon--size-large {
    @include icon-size($icon-size-large);
}

.icon--size-inherit {
    @include icon-size(100%);
}

.icon--rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon--multi-second {
    margin-left: -7px;
    margin-bottom: -2px;
    opacity: 0.4;
}
