@use 'vayla-design-lib' as vayla-design;

.publication-log {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .publication-table {
        overflow: auto;
    }

    &__actions {
        display: grid;
        grid-template-columns: max-content max-content auto;
        gap: 12px;
    }

    &__export_button {
        align-self: center;
        justify-self: end;
    }

    &__title {
        color: vayla-design.$color-black-lighter;
        background-color: vayla-design.$color-white-dark;
        box-shadow: 0 1px 1px rgba(vayla-design.$color-black-default, 0.12);
        margin-bottom: 8px;
        padding: 12px 0 8px 20px;
    }

    &__breadcrumbs {
        white-space: pre;
    }

    &__count-header {
        margin-bottom: 12px;
        display: inline-flex;

        > .spinner {
            margin-left: 6px;
        }
    }

    &__table-header-error {
        color: vayla-design.$color-red-dark;
    }
}
