@import '../../vayla-design-lib/colors';
@import '../../vayla-design-lib/typography';

.publication-log {
    width: 100%;

    &__actions {
        display: grid;
        grid-template-columns: max-content max-content auto;
        gap: 12px;
        padding: 0 24px;
    }

    &__export_button {
        align-self: end;
        justify-self: end;
    }

    &__table {
        background: $color-white-default;
        padding: 24px;
        flex-grow: 1;
    }

    &__title {
        @include typography-body;

        color: $color-black-lighter;
        background-color: $color-white-dark;
        box-shadow: 0 1px 1px rgba($color-black-default, 0.12);
        margin-bottom: 8px;
        padding: 12px 0 8px 20px;
    }

    &__breadcrumbs {
        white-space: pre;
    }
}
