@use '../colors';
@use '../shadows';
@use '../typography';
@use '../layers';

.datepicker {
    display: inline-block;

    &__current-month {
        @include typography.typography-sub-heading;

        line-height: 24px;
        color: colors.$color-blue-dark;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    &__navigate-month {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--previous svg {
            transform: rotate(180deg);
        }

        &--next svg {
            transform: rotate(0);
        }
    }

    &__popup-container {
        z-index: 101;
    }

    &--wide {
        width: 100%;
    }
}

.react-datepicker-popper {
    z-index: layers.$layer-menu;
}

.react-datepicker {
    @include shadows.shadow-16dp;
    @include typography.typography-caption;

    user-select: none;
    padding: 12px;
    background-color: colors.$color-white-default;
    border-radius: 8px;

    &__week-number {
        border-right: 1px solid colors.$color-white-darker;
    }

    &__day,
    &__day-names,
    &__week-number {
        text-align: center;
        line-height: 24px;
    }

    &__day--disabled {
        color: colors.$color-black-lighter;
        cursor: default;
        pointer-events: none;
    }

    &__day-names {
        color: colors.$color-black-light;
        margin-bottom: 2px;
    }

    &__day-names,
    &__week {
        display: grid;
        grid-template-columns: repeat(8, 24px);
        grid-template-rows: 24px;
        grid-column-gap: 4px;
    }

    &__aria-live {
        position: absolute;
        clip-path: circle(0);
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        width: 1px;
        white-space: nowrap;
    }

    &__day {
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 50ms;

        &--today {
            color: colors.$color-blue-default;
        }

        &--outside-month {
            color: colors.$color-black-lighter;
        }

        &--selected {
            background-color: colors.$color-blue-default;
            color: colors.$color-white-default;
        }

        &:hover:not(&--selected) {
            background-color: colors.$color-blue-lighter;
        }

        &:focus,
        &:focus-visible {
            outline: 1px solid colors.$color-blue-default;
        }
    }

    &__sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}
