@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/colors';

.user-card {
    padding-top: 12px;

    &__username-title {
        @include typography-sub-heading;

        color: $color-black-lighter;
    }

    &__show-more {
        margin-top: 12px;
    }

    &__role-title,
    &__permissions-title {
        @include typography-sub-heading;

        color: $color-black-lighter;
        margin-bottom: 2px;
    }

    &__username {
        @include typography-heading-small;
    }
}
