@use 'vayla-design-lib' as vayla-design;

.user-card {
    padding-top: 12px;
    width: 420px;
    height: fit-content;
    float: left;
    margin: 5px 20px 5px 20px;

    &__username-title {
        @include vayla-design.typography-sub-heading;

        color: vayla-design.$color-black-lighter;
    }

    &__show-more {
        margin-top: 12px;
    }

    &__role-title,
    &__permissions-title {
        @include vayla-design.typography-sub-heading;

        color: vayla-design.$color-black-lighter;
        margin-bottom: 2px;
    }

    &__username {
        @include vayla-design.typography-heading-small;
    }
}
