.http-statuscode-generator {
    display: flex;
    justify-content: center;
    align-items: center; /* for single line flex container */
    align-content: space-between; /* for multi-line flex container */
    flex: 1;
    gap: 20px;
}
