@import '../../../vayla-design-lib/colors';
@import '../../../vayla-design-lib/shadows';
@import '../../../vayla-design-lib/typography';
@import '../../../geoviite-design-lib/geoviite-colors';

.infra-model-upload {
    width: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 500px auto;
    column-gap: 0;
    background: $color-white-default;

    .text-area {
        .text-area__input-element {
            min-height: 40px;
            height: 40px;
            resize: vertical;
        }
    }
}

.infra-model-upload__tool-bar {
    @include shadow-4dp;

    padding: 0 16px;
    display: flex;
    background: $color-white-dark;
    z-index: 1;

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
}

.infra-model-upload__map-container {
    position: relative;
    display: flex;
}

.infra-model-upload__error-photo {
    flex: 1;
    background-image: url('../../../geoviite-design-lib/IM-download-failed.jpg');
    background-size: cover;
    background-position: center bottom;
}

.infra-model-upload__file-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 12px;

    h1 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.infra-model-upload__form-container {
    padding: 0 30px;

    > .formgroup {
        margin-bottom: 20px;
    }
}

.infra-model-upload__form-column {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.infra-model-upload__buttons-container {
    @include shadow-8dp;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

.infra-model-upload__validation-errors {
    flex: 1;
    fill: $color-red-dark;
}

.infra-model-upload__validation-error-title {
    @include typography-sub-heading;

    padding: 4px 32px;
    background-color: $color-red-lighter;
}

.infra-model-upload__date-selection {
    display: grid;
    grid-template-columns: auto auto;
}

.infra-model-text-field--has-error {
    color: $color-red-dark;
}

.infra-model-upload__errors {
    list-style: none;
    padding-left: 32px;
    padding-right: 16px;

    li {
        margin-bottom: 16px;
    }
}

.infra-model-upload__error {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    justify-content: start;
}

.infra-model-upload__title-menu {
    .menu {
        position: absolute;
        margin-top: 5px;
        z-index: 10;
    }
}

.infra-model-upload__title-menu-container {
    margin-left: 16px;
}

.infra-model-upload-failed__checkbox-label {
    margin-right: 32px;
}

.infra-model-upload-failed__encode-container {
    margin: 8px 0;
}

.infra-model-upload-failed__errors {
    padding-left: 0;
    list-style: inside;
}
