@use 'vayla-design-lib' as vayla-design;
@use 'geoviite-design-lib' as geoviite-design;

.km-post-badge {
    @include vayla-design.typography-body-strong;
    font-size: 10px;

    display: inline-flex;
    align-items: center;
    background-color: vayla-design.$color-white-default;
    border: 1px solid rgba(vayla-design.$color-black-default, 0.6);
    border-radius: 2px;
    user-select: none;
    padding: 3px 6px;
    height: 16px;

    &--linked {
        background-color: vayla-design.$color-green-lighter;
        border-color: rgba(vayla-design.$color-black-default, 0.5);
    }

    &--unlinked {
        background-color: vayla-design.$color-red-lighter;
        border-color: rgba(vayla-design.$color-black-default, 0.5);
    }

    &--selected {
        border-color: geoviite-design.$color-geoviite-blue;
        color: geoviite-design.$color-geoviite-blue;
    }

    &--disabled {
        pointer-events: none;
        border-color: vayla-design.$color-black-lighter;
        fill: vayla-design.$color-black-lighter;
        color: vayla-design.$color-black-lighter;
    }

    &--clickable {
        cursor: pointer;
    }

    .icon {
        margin-right: 4px;
    }
}
