@use 'vayla-design-lib' as vayla-design;

.geometry-alignment-infobox {
    &__linked-status {
        .infobox__field-label {
            line-height: 24px;
        }
    }

    &__not-linked-text,
    &__linked-text {
        padding: 4px 8px;
    }

    &__linking-container {
        padding: 8px 0 8px 4px;
    }

    &__info-text {
        padding: 10px 0;
    }

    &__search-container {
        display: flex;
        align-items: center;
        margin-top: 8px;
        justify-content: space-between;
    }

    &__alignments-container {
        border: 1px solid vayla-design.$color-white-darker;
        border-top: 0;
        border-radius: 0 0 4px 4px;
        padding: 10px 20px 10px 12px;

        height: 200px;
        overflow: auto;
        list-style: none;
        margin: 0 0 4px 0;
    }

    &__alignments-container-search-field {
        box-shadow: inset 0 0 0 1px vayla-design.$color-white-darker;
        border-radius: 4px 4px 0 0;
    }

    &__alignment {
        display: flex;
        align-items: center;
        padding: 4px 0;
        cursor: pointer;

        .alignment-badge {
            margin-right: 8px;
        }

        .icon {
            fill: vayla-design.$color-black-light;
        }

        & > *:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__connection-points {
        padding: 10px 0;
    }

    &__zoom-warning {
        display: flex;
        align-items: center;
        background-color: vayla-design.$color-lemon-light;
        padding: 10px 16px 10px 26px;
        margin: 0 -16px 0 -20px;
        font-size: 12px;

        .icon {
            fill: vayla-design.$color-black-lighter;
            margin-right: 12px;
        }
    }

    &__no-matches {
        @include vayla-design.typography-caption;
        color: vayla-design.$color-black-lighter;
    }

    &__radio-buttons {
        display: flex;
        flex-direction: column;

        > label {
            margin-bottom: 8px;
        }
    }
}
