@import '../../vayla-design-lib/radio/radio';

.element-list-view {
    padding-left: 32px;

    &__radio-layout > .radio {
        margin-right: 20px;
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    &__table-layout {
        margin-top: 100px;
        position: absolute;
    }

    &__table-container {
        width: 1800px;
        overflow-x: auto;
    }

    /*
    &__table-heading {
        //mieti otsikoiden rivitys
    }
     */
}

.element-list__geometry-search {
    display: flex;

    > :first-child {
        color: red;
    }
    > :not(:last-child) {
        margin-right: 16px;
    }
}
.element-list__plan-search-dropdown {
    width: 360px;
}

.element-list__geometry-checkboxes {
    margin-top: 22px;
}

.element-list__geometry-checkbox > :not(:last-child) {
    margin-right: 16px;
}
