@import '../../vayla-design-lib/radio/radio';

.element-list-view {
    padding-left: 32px;

    &__radio-layout > .radio {
        margin-right: 20px;
        position: relative;
        top: 10px;
    }
}
