@import '../../vayla-design-lib/radio/radio';

.element-list-view {
    padding-left: 32px;

    &__radio-layout > .radio {
        margin-right: 20px;
        position: relative;
        top: 10px;
    }
}

.element-list__geometry-search {
    display: flex;

    > :first-child {
        color: red;
    }
    > :not(:last-child) {
        margin-right: 16px;
    }
}
.element-list__plan-search-dropdown {
    width: 360px;
}

.element-list__geometry-checkboxes {
    margin-top: 22px;
}

.element-list__geometry-checkbox > :not(:last-child) {
    margin-right: 16px;
}
