@use 'vayla-design-lib' as vayla-design;
@use 'geoviite-design-lib' as geoviite-design;

.alignment-badge {
    @include vayla-design.typography-body-strong;
    font-size: 10px;
    line-height: 10px;
    color: vayla-design.$color-white-default;
    background-color: vayla-design.$color-black-light;

    display: inline-block;
    padding: 5px 6px;
    border-radius: 2px;
    user-select: none;
    white-space: pre-wrap;

    &--reference {
        background-color: vayla-design.$color-black-lighter;
    }

    &--linked {
        background-color: vayla-design.$color-green-default;
    }

    &--unlinked {
        background-color: vayla-design.$color-red-default;
    }

    &--selected {
        background-color: geoviite-design.$color-geoviite-blue;
    }

    &--disabled {
        background-color: vayla-design.$color-white-darker;
    }

    &--clickable {
        cursor: pointer;
    }
}
