@use 'vayla-design-lib' as vayla-design;

.eye {
    cursor: pointer;
    margin-left: auto;
    transition: fill 150ms;
    fill: vayla-design.$color-white-darker;
    padding-left: 4px;

    &--visible {
        fill: vayla-design.$color-blue-default;
    }

    &--disabled {
        cursor: default;
        fill: vayla-design.$color-white-darker;
    }
}
