@use 'vayla-design-lib' as vayla-design;

.eye-container {
    cursor: pointer;
    margin-left: auto;
}

.eye-container button:disabled {
    cursor: not-allowed;
}

.eye-icon {
    transition: fill 150ms;
    fill: vayla-design.$color-white-darker;
}

.eye--visible {
    fill: vayla-design.$color-blue-default;
}

.eye--disabled {
    cursor: default;
    fill: vayla-design.$color-white-darker;
}

.eye-icon--partial {
    position: relative;
    display: inline-flex;
}

.eye-icon--partial-hidden-half {
    fill: vayla-design.$color-white-darker;
}

.eye-icon--partial-visible-half {
    position: absolute;
    inset: 0;
    fill: vayla-design.$color-blue-default;
    clip-path: inset(0 50% 0 0);
}

.eye-icon--partial.eye--disabled .eye-icon--partial-visible-half {
    fill: vayla-design.$color-white-darker;
}
