@use 'vayla-design-lib' as vayla-design;

.location-track-ratko-push-dialog {
    margin-bottom: 40px;
}

.location-track-ratko-push-dialog .field-layout__label {
    color: vayla-design.$color-white-darker;
}

.location-track-ratko-push-dialog__warning-msg {
    display: flex;
    margin-bottom: 20px;
}

.location-track-ratko-push-dialog__warning-icon {
    fill: vayla-design.$color-red-default;
    margin: 4px 16px 0 0;
}

.location-track-ratko-push-dialog__field-separator {
    margin: 0 10px;
}

.location-track-ratko-push-dialog__done {
    display: flex;
    justify-content: center;
    fill: vayla-design.$color-green-default;
}
