@use 'vayla-design-lib' as vayla-design;

.location-track-edit-dialog {
    &__description {
        padding: 10px 0 0 16px;
    }

    &__warning {
        fill: vayla-design.$color-red-default;
    }

    &__alert {
      color: vayla-design.$color-lemon-dark;
      font-size: 12px;
      line-height: 16px;
    }

    &__readonly-value {
      @include vayla-design.typography-caption-strong;

      display: inline-block;
      padding: 6px 0 10px 0;
    }
}
