@import '../colors';

.badge {
    position: static;
    width: 42px;
    height: 20px;
    left: 12px;
    top: 2px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    color: $color-black-light;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}
