@import "../typography";
@import '../colors';

.badge {
    @include typography-body-strong;

    position: static;
    width: 42px;
    height: 20px;
    left: 12px;
    top: 2px;

    display: flex;
    align-items: center;

    color: $color-black-light;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}
