@use 'vayla-design-lib' as vayla-design;

.plan-download-popup {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

    position: absolute;
    overflow: hidden;
    z-index: 10;

    top: 8px;
    right: 54px;
    width: 358px;
    max-height: 428px;

    background-color: rgba(vayla-design.$color-white-default, 0.95);
    border-radius: 4px;

    &__radio-container {
        margin-bottom: 6px;
    }

    &__area-title {
        display: inline-flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__field-label {
        margin-top: 15px;

        &--error {
            color: vayla-design.$color-red-dark;
        }
    }

    &__area-grid {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    &-accordion {
        padding: 12px 0 8px 20px;
        display: flex;
        flex-grow: 1;
    }

    &-chevron .icon {
        margin-right: 12px;
        transition: transform 254ms;
    }

    &-chevron--visible .icon {
        transform: rotate(90deg);
    }

    &__close {
        cursor: pointer;
    }

    &__title-content {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__title {
        @include vayla-design.typography-sub-heading;

        background-color: vayla-design.$color-white-dark;
        padding: 6px 8px 6px 16px;
        margin: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
        display: flex;
    }

    &__content {
        @include vayla-design.typography-caption;
        backdrop-filter: blur(3px);

        padding: 8px 16px;
    }
}
