@use 'vayla-design-lib' as vayla-design;

.infobox {
    display: flex;
    flex-direction: column;

    &__title {
        @include vayla-design.typography-sub-heading;
        display: flex;
        align-items: center;

        color: vayla-design.$color-black-default;
        background-color: vayla-design.$color-white-dark;
        box-shadow: 0 1px 1px rgba(vayla-design.$color-black-default, 0.12);
        margin-bottom: 8px;
        user-select: none;
        cursor: pointer;

        &-accordion {
            padding: 12px 0 8px 20px;
            display: flex;
            flex-grow: 1;
        }

        &-edit-icon {
            margin-right: 2px;
        }

        &-content {
            flex-grow: 1;
        }

        &-chevron .icon {
            margin-right: 12px;
            transition: transform 254ms;
        }

        &-chevron--visible .icon {
            transform: rotate(90deg);
        }
    }

    &__content {
        margin-bottom: 8px;
        padding: 0 16px 0 20px;
    }

    &__content-spread {
        margin: 0 -16px 0 -20px;
    }

    &__field {
        display: flex;
        padding: 5px 0;
        min-height: 20px;
    }

    &__field-label {
        @include vayla-design.typography-caption;
        color: vayla-design.$color-black-light;
        display: flex;
        align-items: start;
        width: 100%;
        max-width: 120px;
        min-width: 120px;

        &--error {
            color: vayla-design.$color-red-dark;
        }
    }

    &__field-value {
        @include vayla-design.typography-caption-strong;
        display: flex;
        align-items: start;
        margin-left: 24px;
        flex-grow: 1;
        white-space: pre-wrap;
        overflow-wrap: anywhere;

        &--error {
            color: vayla-design.$color-red-dark;

            .infobox__text {
                color: vayla-design.$color-red-dark;
            }
        }
    }

    &__text {
        @include vayla-design.typography-caption;

        color: vayla-design.$color-black-light;
        white-space: pre-wrap;
    }

    &__buttons {
        padding: 8px 0;

        > .button:not(:last-child) {
            margin-right: 12px;
        }

        &--right {
            display: flex;
            justify-content: flex-end;
        }

        &--vertical {
            display: flex;
            flex-direction: column;
            align-items: start;

            > *:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &--blue {
        border-left: 2px solid vayla-design.$color-blue-light;
        padding-left: 20px;

        .infobox__title {
            color: vayla-design.$color-blue-light;
        }
    }

    &__guide-text {
        @include vayla-design.typography-caption-strong;

        margin: 0;
        padding: 7px 0;
    }
}

.infobox__list {
    display: flex;
    flex-direction: column;
}

.infobox__list-row {
    display: flex;
    flex-direction: row;
    margin: 6px 0;
}

.infobox__list-cell {
    display: flex;
}

.infobox__list-cell--strong {
    @include vayla-design.typography-caption-strong;
}

.infobox__list-cell--label {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    font-weight: 400;
    @include vayla-design.typography-caption;
    color: vayla-design.$color-black-light;
    margin-right: 8px;
}

.infobox__list-cell--stretch {
    flex: 1;
}

.tool-panel__tab-bar {
    top: 0;
    background: vayla-design.$color-white-default;
    position: sticky;
    display: flex;
    z-index: 1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

.tool-panel__tab-bar-buttons {
    display: inline-flex;
    align-items: center;
    min-height: 32px;
    padding-left: 2px;
}

.tool-panel__tab-header {
    &:hover {
        background-color: vayla-design.$color-blue-lighter;
    }

    &--disabled {
        pointer-events: none;
        color: vayla-design.$color-black-lighter;
    }
}
