@use 'vayla-design-lib' as vayla-design;

.tool-bar {
    @include vayla-design.shadow-4dp;

    padding-right: 6px;
    grid-column: 1 / -1;
    display: flex;
    background: vayla-design.$color-white-dark;
    margin-bottom: 1px;

    &--draft {
        background: vayla-design.$color-blue-lighter;
    }

    &--design {
        background: vayla-design.$color-lemon-light;
    }

    &__left-section,
    &__right-section {
        flex: 1;
        display: flex;
        align-items: center;
    }

    &__left-section,
    &__right-section {
        grid-column-gap: 6px;
    }

    &__tabs {
        display: flex;
    }

    &__design-id-selector-popup {
        @include vayla-design.shadow-8dp;
        z-index: vayla-design.$layer-popup;
    }

    &__search-container {
        width: 300px;
        margin-left: 16px;
    }

    &__middle-section {
        @include vayla-design.typography-heading-small;
        color: vayla-design.$color-blue-dark;
        justify-content: center;
    }

    &__right-section {
        justify-content: flex-end;
    }

    &__new-menu-button {
        position: relative;
    }

    &__design-name {
        display: inline-block;
        max-width: 12em;
        text-overflow: ellipsis;
        overflow-x: hidden;
        vertical-align: text-bottom;
    }

    &__design-tab-actions {
        display: flex;
        align-items: center;
        margin-left: 4px;
    }
}

.tool-bar__tab-content {
    display: flex;
    align-items: center;
}
