@use 'vayla-design-lib' as vayla-design;

.selection-panel {
    overflow: hidden auto;

    > section {
        margin-bottom: 16px;
    }

    &__title {
        @include vayla-design.typography-sub-heading;
        box-shadow: 0 1px 1px rgba(vayla-design.$color-black-default, 0.12);

        padding: 12px 20px 8px 20px;
        background-color: vayla-design.$color-white-dark;
        color: vayla-design.$color-black-default;
        margin: 0 0 12px 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        .eye {
            line-height: 0;
        }

        > *:not(:last-child) {
            margin-right: 4px;
        }
    }

    &__subtitle {
        color: vayla-design.$color-black-lighter;
        font-size: 14px;
        margin: 0 0 0 15px;
    }

    &__content {
        padding: 0 20px 0 16px;

        &--unpadded {
            padding: 0;
        }

        .accordion__body {
            padding-left: 0;
        }
    }
}

.selection-panel__title-text {
    flex: 1;
}

.selection-panel__project {
    @include vayla-design.typography-caption;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    padding-bottom: 2px;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid vayla-design.$color-white-darker;
}

.selection-panel__project:first-child {
    margin-top: -8px;
    border-top: none;
}

.selection-panel__project-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
