@use 'vayla-design-lib' as vayla-design;

.publication-card {
    padding-top: 0;

    &__title {
        @include vayla-design.typography-heading;
    }

    &__subsection-title {
        @include vayla-design.typography-body-strong;
        margin-bottom: 12px;
    }

    &__ratko-push-button {
        margin-bottom: 12px;
    }

    &__title-errors {
        @include vayla-design.typography-sub-heading;
        text-transform: none;
        color: vayla-design.$color-red-dark;
    }

    &__no-publications {
        @include vayla-design.typography-sub-heading;
        text-transform: none;
        margin-bottom: 12px;
    }
}
