@import '../../vayla-design-lib/typography';
@import '../../vayla-design-lib/colors';

.publication-list__header {
    margin-bottom: 12px;
}

.publication-list-item {
    @include typography-body-strong;
    margin-bottom: 12px;
    display: flex;

    > div {
        margin-top: auto;
        margin-bottom: auto;
    }

    &__status {
        border-radius: 4px;
        width: 8px;
        min-width: 8px;
        height: 8px;
        margin-right: 12px;

        &--waiting {
            @extend .publication-list-item__status;
            background: $color-lemon;
        }

        &--in-progress {
            @extend .publication-list-item__status;

            background: $color-blue-default;
        }
    }

    &__text {
        white-space: pre;
    }

    &__track-numbers {
        margin-left: 6px;
        display: inline-flex;
        flex-flow: wrap;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;

        .alignment-badge {
            margin-left: 4px;
        }
    }

    &__issue {
        margin-left: auto;
        padding-left: 6px;
        white-space: pre;

        &--info {
            fill: $color-black-lighter;
        }

        &--error {
            fill: $color-red-default;
        }
    }
}
