@use 'vayla-design-lib' as vayla-design;

.publication-list-item-container {
    margin-bottom: 12px;
}

.publication-list-item {
    display: inline-flex;

    a {
        text-decoration: none;
        cursor: pointer;
        color: vayla-design.$color-blue-dark;
    }

    > div {
        margin-top: auto;
        margin-bottom: auto;
    }

    &__status {
        border-radius: 4px;
        width: 8px;
        min-width: 8px;
        height: 8px;
        margin-right: 12px;

        &--waiting {
            @extend .publication-list-item__status;
            background: vayla-design.$color-lemon;
        }

        &--in-progress {
            @extend .publication-list-item__status;

            background: vayla-design.$color-blue-default;
        }
    }

    &__timestamp {
        display: inline-flex;
        align-items: center;
        margin-right: 6px;
        margin-bottom: auto;

        .icon,
        .spinner {
            margin-right: 6px;
        }
    }

    &__text {
        @include vayla-design.typography-body-strong;
        white-space: pre;
    }

    &__split {
        margin-top: 8px;
        margin-left: 22px;
    }

    &__split-detail-row {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-bottom: 6px;

        > :first-child {
            margin-right: 6px;
        }
    }

    &__split-detail-no-icon {
        display: block;
        width: 12px;
    }

    &--error {
        fill: vayla-design.$color-red-default;
    }

    &--success {
        fill: vayla-design.$color-green-dark;
    }

    &__split-action-button-container {
        margin-left: 18px;
        margin-bottom: 22px;
    }

    &__split-action-button--open {
        .icon {
            transform: rotate(180deg);
        }
    }

    &__split-actions {
        display: flex;

        > :not(:last-child) {
            margin-right: 6px;
        }
    }

    &__design-name {
        font-weight: 600;
        margin-right: 2px;
    }

    &__design-icon {
        align-items: center;
        margin-right: 4px;
        margin-left: 2px;
    }

    &--generated-publication {
        font-style: italic;
        color: vayla-design.$color-black-lighter;
        fill: vayla-design.$color-black-lighter;
    }
}
