@use 'vayla-design-lib' as vayla-design;

.publication-card {
    padding-top: 0;
    width: 420px;
    height: fit-content;
    float: left;
    margin: 5px 20px 5px 20px;

    &__title {
        @include vayla-design.typography-heading;
    }

    &__subsection-title {
        @include vayla-design.typography-body-strong;
        margin-bottom: 12px;
    }

    &__ratko-push-button {
        margin-bottom: 12px;
    }

    &__title-errors {
        @include vayla-design.typography-sub-heading;
        text-transform: none;
        color: vayla-design.$color-red-dark;
    }

    &__show-more {
        margin-top: 12px;
    }

    &__no-publications {
        @include vayla-design.typography-sub-heading;
        text-transform: none;
        margin-bottom: 12px;
    }

    &__waiting-text {
        font-size: 12px;
        color: vayla-design.$color-black-lighter;
        display: inline-flex;
        align-items: center;

        > .icon {
            fill: vayla-design.$color-black-lighter;
            margin-right: 6px;
        }
    }

    &__publication-log-link {
        margin-top: 12px;
    }
}
