@use 'vayla-design-lib' as vayla-design;

.frontpage {
    overflow: hidden auto;
    padding: 8px 16px 16px 16px;
    min-width: 494px;
    width: 100%;

    background: #bbb url('geoviite-design-lib/frontpage-background.jpeg');
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: right center;
}
