@use 'vayla-design-lib' as vayla-design;

.location-track-task-list {
    @include vayla-design.shadow-4dp;

    position: absolute;
    overflow: hidden;
    z-index: 10;

    top: 106px;
    right: 388px;
    width: 246px;

    background-color: rgba(vayla-design.$color-white-default, 0.85);
    border-radius: 4px;

    &__close {
        cursor: pointer;
    }

    &__title {
        @include vayla-design.typography-sub-heading;

        display: flex;
        background-color: vayla-design.$color-white-darker;
        justify-content: space-between;
        padding: 6px 8px 6px 16px;
        margin: 0;
    }

    &__content {
        @include vayla-design.typography-caption;

        padding: 8px 16px 16px 16px;
    }

    &__switches {
        padding: 10px 20px 10px 12px;
        margin: 8px 0 0 0;
        max-height: 200px;
        overflow: auto;
        list-style: none;
        border: 1px solid vayla-design.$color-white-darker;
        border-radius: 4px;
    }

    .switch-badge {
        cursor: pointer;
    }

    &__switch {
        padding: 4px 0;
    }
}
