@use '../animation';
@use '../colors';

.spinner {
    @include animation.spinner-animation;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    color: colors.$color-black-light;

    &--small {
        width: 12px;
        height: 12px;
    }

    &--inline {
        display: inline-block;
    }

    &--table-header {
        margin-left: 12px;
    }
}
