@use '../typography';
@use '../utils';
@use '../colors';
@use '../size';

$text-area-input-height: 6em;
$text-area-input-padding-side: 12px;
$text-area-input-border-default: 1px;
$text-area-input-border-thick: 2px;

@mixin text-area-shadow($color, $width, $has-icon) {
    box-shadow: inset 0 0 0 $width $color;
    border: none;

    @if ($has-icon) {
        padding: 8px 32px 8px 12px;
    } @else {
        padding: 8px 12px;
    }
}

.text-area {
    @include utils.component-base;

    & {
        position: relative;
        display: inline-flex;
    }
}

.text-area__icon {
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: end;
    right: 12px;
    top: 12px;
    fill: colors.$color-black-light;
}

.text-area__input-element {
    @include typography.typography-input;

    height: $text-area-input-height;

    color: colors.$color-black-default;
    background: colors.$color-white-default;

    outline: none;
    @include text-area-shadow(
        $color: colors.$color-black-lighter,
        $width: $text-area-input-border-default,
        $has-icon: false
    );
    border-radius: 4px;
}

.text-area--with-icon .text-area__input-element {
    padding-right: 32px;
}

.text-area--wide {
    display: flex;

    .text-area__input {
        flex: 1;
        display: flex;
    }

    .text-area__input-element {
        flex: 1;
    }
}

// Hover
.text-area:hover {
    .text-area__input-element {
        @include text-area-shadow(
            $color: colors.$color-black-lighter,
            $width: $text-area-input-border-thick,
            $has-icon: false
        );
    }

    &.text-area--with-icon .text-area__input-element {
        @include text-area-shadow(
            $color: colors.$color-black-lighter,
            $width: $text-area-input-border-thick,
            $has-icon: true
        );
    }
}

// Focus
.text-area--focus {
    &,
    &:hover {
        .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-blue-dark,
                $width: $text-area-input-border-thick,
                $has-icon: false
            );
        }

        &.text-area--with-icon .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-blue-dark,
                $width: $text-area-input-border-thick,
                $has-icon: true
            );
        }
    }
}

// Error

.text-area--has-error {
    &,
    &:hover {
        .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-red-dark,
                $width: $text-area-input-border-thick,
                $has-icon: false
            );
        }

        &.text-area--with-icon .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-red-dark,
                $width: $text-area-input-border-thick,
                $has-icon: true
            );
        }

        .text-area__icon {
            fill: colors.$color-red-dark;
        }
    }
}

// Disabled

.text-area--disabled {
    &,
    &:hover {
        .text-area__icon {
            fill: colors.$color-black-lighter;
        }

        .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-white-darker,
                $width: $text-area-input-border-default,
                $has-icon: false
            );
            color: colors.$color-black-lighter;
        }

        &.text-area--with-icon .text-area__input-element {
            @include text-area-shadow(
                $color: colors.$color-white-darker,
                $width: $text-area-input-border-default,
                $has-icon: true
            );
        }
    }
}
