@import '../vayla-design-lib/colors';

body,
html {
    margin: 0;
    padding: 0;
}

.main__env-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $pitaya-default;
    text-transform: uppercase;
    color: $color-white-default;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    user-select: none;
    z-index: 3;
}

.main {
    background-color: $color-white-dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main__content {
    background-color: $color-white-default;
    flex: 1;

    display: flex;
    align-items: stretch;
    justify-content: stretch;
    overflow: auto;
}
