@use 'vayla-design-lib' as vayla-design;
@use 'vayla-design-lib/menu/menu';

.main {
    background-color: vayla-design.$color-white-dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__content {
        background-color: vayla-design.$color-white-default;
        flex: 1;

        display: flex;
        align-items: stretch;
        justify-content: stretch;
        overflow: auto;
    }

    &__env-banner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: vayla-design.$pitaya-default;
        text-transform: uppercase;
        color: vayla-design.$color-white-default;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        user-select: none;
        z-index: 3;
    }
}

.main-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: vayla-design.$color-white-default;
    z-index: 9999;
    transition: opacity 0.5s;
}

.main-overlay-enabled {
    visibility: visible;
    opacity: 0.75;
}
