@use 'vayla-design-lib' as vayla-design;

.main {
    background-color: vayla-design.$color-white-dark;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__content {
        background-color: vayla-design.$color-white-default;
        flex: 1;

        display: flex;
        align-items: stretch;
        justify-content: stretch;
        overflow: auto;
    }

    &__env-banner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: vayla-design.$pitaya-default;
        text-transform: uppercase;
        color: vayla-design.$color-white-default;
        text-align: center;
        font-size: 10px;
        line-height: 10px;
        user-select: none;
        z-index: 3;
    }
}
