@use 'vayla-design-lib' as vayla-design;
@use 'geoviite-design-lib' as geoviite-design;
@use 'vayla-design-lib/menu/menu';

// Export colors to use e.g. in map canvas
:export {
    planAreaBorder: vayla-design.$color-red-default;
    planAreaTextColor: vayla-design.$color-black-default;
    fontFamily: vayla-design.$font-family;

    errorDefault: vayla-design.$color-red-dark;
    errorBright: vayla-design.$color-red-default;
}

//Linking layer
:export {
    linkingPoint: vayla-design.$color-white-default;
    unselectedAlignmentInterval: vayla-design.$color-white-darker;
    selectedLayoutAlignmentInterval: geoviite-design.$color-geoviite-blue;
    selectedGeometryAlignmentInterval: vayla-design.$color-red-dark;

    clusterPointTextColor: vayla-design.$color-white-default;
    clusterPointBorder: vayla-design.$color-white-default;
    clusterPoint: vayla-design.$color-white-darker;

    locationTrackEndPoint: vayla-design.$color-red-default;
    locationTrackEndPointBorder: vayla-design.$color-red-darker;
    locationTrackEndPointCross: vayla-design.$color-white-default;
}

// Alignment styling
:export {
    unlinkedGeometryAlignment: geoviite-design.$color-geoviite-red-default;
    selectedUnlinkedGeometryAlignment: geoviite-design.$color-geoviite-red-dark;

    linkedGeometryAlignment: geoviite-design.$color-geoviite-green-default;
    selectedLinkedGeometryAlignment: geoviite-design.$color-geoviite-green-dark;

    alignmentBackground: rgba(vayla-design.$color-white-default, 0.6);

    alignmentLine: rgba(vayla-design.$color-black-default, 0.8);
    alignmentPreviewOfficialLine: vayla-design.$color-white-darker;
    selectedAlignmentLine: geoviite-design.$color-geoviite-blue;
    selectedAlignmentLineDisabled: geoviite-design.$color-geoviite-map-red;

    alignmentRedHighlight: rgba(geoviite-design.$color-geoviite-map-red, 0.2);
    alignmentBlueHighlight: rgba(geoviite-design.$color-geoviite-map-blue, 0.2);

    splitSectionRedHighlight: rgba(geoviite-design.$color-geoviite-map-red, 0.5);
    splitSectionBlueHighlight: rgba(geoviite-design.$color-geoviite-map-blue, 0.5);
    splitSectionNotOverlappingDuplicate: rgba(vayla-design.$color-black-lighter, 0.5);
}

// Alignment badge styling
:export {
    /* prettier-ignore */
    alignmentBadge: {
    @include vayla-design.typography-body-strong;
  }
    alignmentBadge: vayla-design.$color-black-default;
    alignmentBadgeWhite: vayla-design.$color-white-default;
    alignmentBadgeBlue: geoviite-design.$color-geoviite-blue;
    alignmentBadgeBorder: vayla-design.$color-black-lighter;

    alignmentBadgeWhiteTextColor: vayla-design.$color-white-default;
    alignmentBadgeTextColor: vayla-design.$color-black-default;
}

// Km post styling
:export {
    /* prettier-ignore */
    kmPost: {
    @include vayla-design.typography-body-strong;
  }

    kmPostTextColor: vayla-design.$color-black-default;
    kmPostLabel: rgba(vayla-design.$color-white-default, 0.6);

    unlinkedKmPostLabel: rgba(vayla-design.$color-red-lighter, 0.6);
    linkedKmPostLabel: rgba(vayla-design.$color-green-lighter, 0.6);

    selectedKmPostLabel: vayla-design.$color-white-default;
    selectedKmPostLabelBorder: rgba(vayla-design.$color-black-default, 0.6);

    selectedKmPostDot: geoviite-design.$color-geoviite-blue;
    selectedKmPostDotBorder: rgba(vayla-design.$color-black-default, 0.2);

    selectedUnlinkedKmPostLabel: vayla-design.$color-red-lighter;
    selectedLinkedKmPostLabel: vayla-design.$color-green-lighter;
}

// Switch styling
:export {
    switchTextColor: vayla-design.$color-black-default;
    switchBackground: rgba(vayla-design.$color-white-default, 0.6);

    switchLabel: geoviite-design.$color-geoviite-cadmium-lighter;
    switchLabelBorder: rgba(vayla-design.$color-black-default, 0.5);
    linkedSwitchLabel: vayla-design.$color-green-lighter;
    unlinkedSwitchLabel: vayla-design.$color-red-lighter;

    switchJoint: geoviite-design.$color-geoviite-cadmium;
    switchJointDisabled: vayla-design.$color-white-darker;
    switchJointBorder: rgba(vayla-design.$color-black-default, 0.5);
    switchJointTextColor: vayla-design.$color-black-default;

    switchMainJoint: geoviite-design.$color-geoviite-blue;
    switchMainJointBorder: scale-color(geoviite-design.$color-geoviite-blue, $lightness: -40%);
    switchMainJointTextColor: vayla-design.$color-white-default;

    linkedSwitchJoint: vayla-design.$color-green-default;
    linkedSwitchJointBorder: vayla-design.$color-green-dark;
    unlinkedSwitchJoint: vayla-design.$color-red-default;
    unlinkedSwitchJointBorder: vayla-design.$color-red-dark;
}

// Location track split point styling
:export {
    splitPointCircleColor: vayla-design.$color-blue-default;
    splitPointDeletedCircleColor: vayla-design.$color-red-default;
    splitPointDisabledCircleColor: geoviite-design.$color-geoviite-map-red;
}

//Measure tooltip styling
:export {
    measurementTooltipLine: vayla-design.$color-black-lighter;
    measurementTooltipCircle: vayla-design.$color-black-light;
}

.map {
    position: relative;
    color: vayla-design.$color-black-default;
    width: 100%;
    height: 100%;
    z-index: 1;

    &__popup-menu {
        @extend .menu;
        background: vayla-design.$color-blue-darker;
    }

    &__ol-map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__popup-item {
        @extend .menu__item;

        color: vayla-design.$color-white-default;
        border-bottom-color: vayla-design.$color-black-lighter;

        &:hover {
            background: vayla-design.$color-blue-dark !important;
        }
    }

    &__loading-spinner {
        position: absolute;
        top: 10px;
        left: 40px;
    }

    &__map-tools {
        position: absolute;
        top: 5px;
        right: 15px;
        z-index: 20;
        list-style: none;
        margin: 0;
        padding: 2px;
        border-radius: 4px;

        background-color: rgba(vayla-design.$color-white-default, 0.6);
    }

    &__map-tool {
        cursor: pointer;
        padding: 2px;
        line-height: 0;

        &:not(:last-child) {
            margin-bottom: 6px;
        }

        .icon {
            fill: vayla-design.$color-black-default;
        }

        &:hover,
        &--active {
            .icon {
                fill: vayla-design.$color-blue-dark;
            }
        }
    }

    &__layer-menu {
        position: absolute;
        top: 60px;
        left: 10px;

        background-color: rgba(vayla-design.$color-white-default, 0.6);
        padding: 2px 4px;

        button {
            border-radius: 2px;
        }
    }
}

.ol-scale-line {
    left: auto;
    right: 18px;
    background-color: rgba(vayla-design.$color-white-default, 0.6);
    padding: 4px 8px;

    .ol-scale-line-inner {
        @include vayla-design.typography-body-strong;

        color: vayla-design.$color-black-default;
        margin: 0;
        border: 2px solid vayla-design.$color-black-default;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.ol-zoom {
    background-color: rgba(vayla-design.$color-white-default, 0.6);
    padding: 2px 4px;
    margin: 0;
    top: 5px;
    left: 10px;

    .ol-zoom-in,
    .ol-zoom-out {
        margin: 2px 0;
        cursor: pointer;
        color: vayla-design.$color-white-default;
        background-color: vayla-design.$color-blue-default;

        &:focus,
        &:hover {
            text-decoration: unset;
            outline: unset;
            color: vayla-design.$color-white-default;
        }

        &:focus {
            background-color: vayla-design.$color-blue-default;
        }

        &:hover {
            background-color: vayla-design.$color-blue-light;
        }
    }
}

.ol-tooltip-measure {
    @include vayla-design.typography-caption;

    color: vayla-design.$color-white-default;
    background-color: rgba(vayla-design.$color-black-default, 0.6);
    padding: 2px 6px;
    border-radius: 4px;
}
