@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/shadows';
@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/menu/menu';
@import '../geoviite-design-lib/geoviite-colors';

$font-family: 'Open Sans';

// Export colors to use e.g. in map canvas
:export {
    boundingBoxColor: $color-red-default;
    boundingBoxBackground: rgba($color-white-default, 0.2);
    boundingBoxText: $color-black-default;
    fontFamily: $font-family;
}

//Linking layer
:export {
    linkingPointStrokeColor: $color-white-default;
    unselectedAlignmentInterval: $color-white-darker;
    selectedLayoutAlignmentInterval: $color-geoviite-blue;
    selectedGeometryAlignmentInterval: $color-red-dark;

    clusterPointTextColor: $color-white-default;
    clusterPointStrokeColor: $color-white-default;
    clusterPointFillColor: $color-white-darker;

    locationTrackEndPoint: $color-red-default;
    locationTrackEndPointInnerCircle: $color-red-darker;
    locationTrackEndPointCross: $color-white-default;
}

// Alignment styling
:export {
    unlinkedGeometryAlignment: $color-red-light;
    selectedUnlinkedGeometryAlignment: $color-red-dark;

    linkedGeometryAlignment: $color-green-light;
    selectedLinkedGeometryAlignment: $color-green-dark;

    alignmentBackground: $color-white-default;

    alignmentColor: rgba($color-black-default, 0.8);
    alignmentHighlightColor: $color-geoviite-blue;

    alignmentRedBackground: rgba(255, 61, 0, 0.51);
    alignmentBlueBackground: rgba(56, 155, 246, 0.37);
}

// Alignment badge styling
:export {
    alignment-badge: {
        @include typography-body-strong;
    }
    alignment-badge-background: $color-black-default;
    alignment-badge-background-white: $color-white-default;
    alignment-badge-background-selected: $color-geoviite-blue;
    alignment-badge-background-border: $color-black-lighter;
    alignment-badge-color-white: $color-white-default;
    alignment-badge-color: $color-black-default;
}

// Km post styling
:export {
    kmpost: {
        @include typography-body-strong;
    }
    kmPost-text: $color-black-default;
    kmPost-background: rgba($color-white-default, 0.6);
    geometry-not-linked-kmPost-background: rgba($color-red-lighter, 0.6);
    geometry-linked-kmPost-background: rgba($color-green-lighter, 0.6);
    selected-kmPost-dot-background: $color-geoviite-blue;
    selected-kmPost-dot-border: rgba($color-black-default, 0.2);
    selected-kmPost-background: $color-white-default;
    selected-not-linked-geometry-kmPost-background: $color-red-lighter;
    selected-linked-geometry-kmPost-background: $color-green-lighter;
    selected-kmPost-border-color: rgba($color-black-default, 0.6);
}

// Switch styling
:export {
    switchTextColor: $color-black-default;
    switchBackground: $color-black-lighter;

    switchLabelBackground: $color-geoviite-cadmium-lighter;
    switchLabelBorder: rgba($color-black-default, 0.5);

    switchIconBackground: $color-geoviite-cadmium;
    switchIconBorder: rgba($color-black-default, 0.5);

    switchJointBackground: $color-geoviite-cadmium;
    switchJointBorder: rgba($color-black-default, 0.5);
    switchJointText: $color-black-default;

    switchMainJointBackground: $color-geoviite-blue;
    switchMainJointBorder: scale-color($color-geoviite-blue, $lightness: -40%);
    switchMainJointText: $color-white-default;

    switchLinkedColor: $color-green-default;
    switchLinkedColorStroke: $color-green-dark;
    switchUnlinkedColor: $color-red-default;
    switchUnlinkedColorStroke: $color-red-dark;
    linkedSwitchLabelBackground: $color-green-lighter;
    linkedSwitchLabelBorder: rgba($color-black-default, 0.5);
    notLinkedSwitchLabelBackground: $color-red-lighter;
    notLinkedSwitchLabelBorder: rgba($color-black-default, 0.5);
}

//Measure tooltip styling
:export {
    measureTooltipStroke: $color-black-lighter;
    measureTooltipCircleStroke: $color-black-light;
}

.map {
    position: relative;
    color: $color-black-default;
    width: 100%;
    height: 100%;
}

.map__ol-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.map .ol-scale-line {
    left: auto;
    right: 18px;
    background-color: rgba($color-white-default, 0.6);
    padding: 4px 8px;

    .ol-scale-line-inner {
        @include typography-body-strong;

        color: $color-black-default;
        margin: 0;
        border: 2px solid $color-black-default;
        border-top: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.ol-zoom {
    background-color: rgba($color-white-default, 0.6);
    padding: 2px 4px;
    margin: 0;
    top: 5px;
    left: 10px;

    .ol-zoom-in,
    .ol-zoom-out {
        margin: 2px 0;
        cursor: pointer;
        background-color: $color-blue-default;

        &:focus {
            background-color: $color-blue-default;
        }

        &:hover {
            background-color: $color-blue-light;
        }
    }
}

.map__popup-menu {
    @extend .menu;
    background: $color-blue-darker;
}

.map__popup-item {
    @extend .menu__item;
    background: $color-blue-darker;
    color: $color-white-default;
    border-bottom-color: $color-black-lighter;

    &:hover {
        background: $color-blue-dark;
    }
}

.map__map-tools {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 20;
    list-style: none;
    margin: 0;
    padding: 2px;
    border-radius: 4px;

    background-color: rgba($color-white-default, 0.6);
}

.map__map-tool {
    cursor: pointer;
    padding: 2px;
    line-height: 0;

    &:not(:last-child) {
        margin-bottom: 6px;
    }

    .icon {
        fill: $color-black-default;
    }

    &:hover,
    &--active {
        .icon {
            fill: $color-blue-dark;
        }
    }
}

.ol-tooltip-measure {
    @include typography-caption;

    color: $color-white-default;
    background-color: rgba($color-black-default, 0.6);
    padding: 2px 6px;
    border-radius: 4px;
}
