@use 'vayla-design-lib' as vayla-design;

.accordion__header {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0;
    margin: 0;

    &--selected {
        background-color: vayla-design.$color-blue-lighter;
    }

    .accordion-toggle {
        margin-right: 12px;
    }
}

.accordion__header-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: preserve nowrap;

    &--clickable {
        cursor: pointer;
    }
}

.accordion__body {
    padding-left: 16px;
}

.accordion__error-icon {
    margin-left: auto;
    margin-right: 2px;
    fill: vayla-design.$color-red-dark;
}
