@use '../colors';
@use '../typography';

.field-layout {
    display: flex;
    flex-direction: column;
}

.field-layout--extra-spacing {
    margin-bottom: 10px;
}

.field-layout__value--disabled {
    color: colors.$color-black-lighter;
}

.field-layout__label {
    @include typography.typography-caption-strong;
    color: colors.$color-black-light;
    padding: 3px 0;

    &--disabled {
        color: colors.$color-black-lighter;
    }
}

.field-layout--has-error .field-layout__label {
    color: colors.$color-red-dark;
}

.field-layout__help {
    @include typography.typography-caption;
    color: colors.$color-black-light;
    padding: 3px 0;
}

.field-layout__notices {
    display: flex;
    flex-direction: column;
}

.field-layout__error {
    @include typography.typography-caption;
    color: colors.$color-red-dark;
}

.field-layout__warning {
    @include typography.typography-caption;
    color: colors.$color-lemon-dark;
}
