@use 'vayla-design-lib' as vayla-design;

.Toastify {
    & {
        --toastify-text-color-light: #000;
        --toastify-font-family: vayla-design.$font-family;
        --toastify-toast-min-height: 54px;
    }

    &--animate {
        animation-fill-mode: both;
    }

    &__toast {
        width: auto;
    }

    &__toast-content {
        display: flex;
    }

    &__toast-body {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__toast-text {
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: text;
        margin-left: 16px;
    }

    &__toast-header {
        font-weight: 600;
        line-height: 20px;
        overflow: hidden;
    }

    &__toast-header-container {
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__toast-body-content {
        display: flex;
    }

    &__toast-footer {
        margin-top: 4px;
        font-weight: 600;
        font-size: 12px;
    }

    &__toast-text-body {
        margin: 4px 0 0;
        line-height: 20px;
    }

    &__toast-container {
        display: block;
        z-index: 9999;
        position: fixed;
        min-width: 320px;
        max-width: 560px;
        color: vayla-design.$color-black-default;

        &--top-center {
            top: 128px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__button {
        align-self: flex-end;
        line-height: 20px;
        color: vayla-design.$color-blue-dark;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    &__slide-enter--top-center {
        animation-duration: 0.6s;
        animation-name: Toastify__slideIn;
    }

    &__slide-exit--top-center {
        animation-duration: 0.3s;
        animation-name: Toastify__fadeOut;
    }
}

.Toastify__toast {
    @include vayla-design.shadow-16dp;

    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 14px 24px 14px 20px;
    border-radius: 4px;
    user-select: none;
    overflow: hidden;
    cursor: default;

    .icon {
        align-self: flex-start;
    }

    &--success {
        cursor: pointer;
        border: 1px solid vayla-design.$color-green-light;
        background: vayla-design.$color-green-lighter;

        .icon {
            fill: vayla-design.$color-green-dark;
        }
    }

    &--warning {
        display: flex;
        cursor: pointer;

        border: 1px solid vayla-design.$color-lemon;
        background-color: vayla-design.$color-lemon-light;

        .icon {
            fill: vayla-design.$color-black-light;
        }
    }

    &--error {
        border: 1px solid vayla-design.$color-red-light;
        background: vayla-design.$color-red-lighter;
        display: flex;

        .icon {
            fill: vayla-design.$color-red-dark;
        }

        .Toastify__toast-text {
            max-width: 442px;
        }
    }
}

.Toastify__close-button {
    align-self: flex-start;
    margin-left: 16px;

    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: unset;

    .icon {
        fill: vayla-design.$color-black-light;
        opacity: 0.6;
        transition: 0.3s;
    }

    &:hover,
    &:focus {
        .icon {
            opacity: 1;
        }
    }
}

@keyframes Toastify__slideIn {
    from {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes Toastify__fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
