@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/shadows';
@import '../vayla-design-lib/layers';

.card {
    @include shadow-4dp;

    padding: 24px 20px;
    border: 1px solid $color-white-dark;
    border-radius: 4px;
    background: $color-white-default;
}
