@import '../../../vayla-design-lib/shadows';
@import '../../../vayla-design-lib/colors';
@import '../../../vayla-design-lib/layers';

.color-selector-menu {
    @include shadow-8dp;

    position: absolute;
    z-index: $layer-popup;
    border-radius: 4px;
    background-color: white;

    ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;

        list-style: none;
        margin: 0;
    }
}

.color-square {
    cursor: pointer;
    height: 20px;
    width: 20px;

    &--none {
        position: relative;
        box-sizing: border-box;
        border: 1px solid $color-white-darker;
        background-color: $color-white-default;

        &:after {
            content: '';
            position: absolute;
            border-top: 1px solid $color-white-darker;
            width: 26px;
            transform: rotate(-45deg);
            transform-origin: 22px 10px;
        }
    }
}
