@use 'vayla-design-lib' as vayla-design;

.tab-header {
    @include vayla-design.typography-caption;
    display: inline-flex;
    align-items: center;
    padding: 6px 8px 6px 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    cursor: pointer;
    max-width: 190px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    vertical-align: top;

    &--selected {
        border-color: vayla-design.$color-blue-light;
    }

    &--disabled {
        cursor: default;
        color: vayla-design.$color-black-lighter;
    }
}
