@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/typography';

.publication-log-table__container {
    overflow-y: auto;
    height: 100%;
}

.publication-log-table__header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.publication-log__datepickers {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 12px;
    padding-left: 24px;
}

.publication-log__content {
    background: $color-white-default;
    padding: 24px;
    flex-grow: 1;
}

.publication-log__view {
    width: 100%;
}

.publication-log__title {
    @include typography-body;

    color: $color-black-lighter;
    background-color: $color-white-dark;
    box-shadow: 0 1px 1px rgba($color-black-default, 0.12);
    margin-bottom: 8px;
    padding: 12px 0 8px 20px;
}

.publication-log__link {
    color: $color-blue-dark;
    padding: 0 20px;
    cursor: pointer;
}

.publication-log__breadcrumbs {
    white-space: pre;
}
