@import '../../vayla-design-lib/colors';

.tabs {
    &__tab-container {
        background: $color-white-darker;
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__nav {
        display: flex;
        margin: 0;
        padding: 0;

        li {
            padding: 1rem;
            list-style: none;
            text-align: center;
            cursor: pointer;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            margin-left: 10px;
            inline-size: min-content;
            white-space: nowrap;
        }

        li.active {
            background: $color-white-default;
            padding-left: 30px;
            padding-right: 30px;
        }
        li.inactive {
            box-shadow: inset 0 -10px 8px -10px $color-white-darker;
            background: $color-white-dark;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &__outlet {
        background: $color-white-default;
        flex: 1;
    }
    &__exclamation-point-container {
        position: relative;
        top: -12px;
        left: 8px;
    }
}

.exclamation-point-container {
    position: relative;
    top: -12px;
    left: 8px;
}
