@use 'vayla-design-lib' as vayla-design;

.tabs {
    &__tab-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__nav {
        @include vayla-design.shadow-4dp;
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        background: vayla-design.$color-white-dark;
    }

    &__outlet {
        background: vayla-design.$color-white-default;
        flex: 1;
        overflow: auto;
    }

    &__exclamation-point-container {
        position: relative;
        top: -10px;
        left: 8px;
    }
}

.exclamation-point-container {
    position: relative;
    top: -12px;
    left: 8px;
}
