@use '../typography';
@use '../utils';
@use '../colors';
@use '../size';

$text-field-input-height: size.$input-height;
$text-field-input-padding-side: 12px;
$text-field-input-border-default: 1px;
$text-field-input-border-thick: 2px;
$text-field-input-border-error: 2px;

@mixin text-field-shadow($color, $width, $icon: no-icon) {
    box-shadow: inset 0 0 0 $width $color;
    border: none;

    @if $icon == left {
        padding: 8px 12px 8px 32px;
    } @else if $icon == right {
        padding: 8px 32px 8px 12px;
    } @else {
        padding: 8px 12px;
    }
}

.text-field {
    @include utils.component-base;

    & {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }
}

.text-field__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    width: 20px;
    height: 20px;
    fill: colors.$color-black-light;
}

.text-field__input-element {
    @include typography.typography-input;

    height: $text-field-input-height;

    color: colors.$color-black-default;
    background: colors.$color-white-default;

    outline: none;
    @include text-field-shadow(
        $color: colors.$color-black-lighter,
        $width: $text-field-input-border-default
    );
    border-radius: 4px;
}

.text-field--attach-left .text-field__input-element {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.5px;
}

.text-field--attach-right .text-field__input-element {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: -0.5px;
}

.text-field--with-left-icon {
    .text-field__icon {
        left: 8px;
    }

    .text-field__input-element {
        padding-left: 32px;
    }
}

.text-field--with-right-icon {
    .text-field__icon {
        right: 8px;
    }

    .text-field__input-element {
        padding-right: 32px;
    }
}

.text-field--wide {
    display: flex;

    .text-field__input {
        flex: 1;
        display: flex;
    }

    .text-field__input-element {
        flex: 1;
    }
}

// Hover
.text-field:hover {
    .text-field__input-element {
        @include text-field-shadow(
            $color: colors.$color-black-lighter,
            $width: $text-field-input-border-thick
        );
    }

    &.text-field--with-left-icon .text-field__input-element {
        @include text-field-shadow(
            $color: colors.$color-black-lighter,
            $width: $text-field-input-border-thick,
            $icon: left
        );
    }

    &.text-field--with-right-icon .text-field__input-element {
        @include text-field-shadow(
            $color: colors.$color-black-lighter,
            $width: $text-field-input-border-thick,
            $icon: right
        );
    }
}

// Focus
.text-field--focus {
    &,
    &:hover {
        .text-field__icon svg {
            fill: colors.$color-blue-dark;
        }

        .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-blue-dark,
                $width: $text-field-input-border-thick
            );
        }

        &.text-field--with-left-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-blue-dark,
                $width: $text-field-input-border-thick,
                $icon: left
            );
        }

        &.text-field--with-right-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-blue-dark,
                $width: $text-field-input-border-thick,
                $icon: right
            );
        }
    }
}

// Error

.text-field--has-error {
    &,
    &:hover {
        .text-field__input-element {
            color: colors.$color-red-dark;
            @include text-field-shadow(
                $color: colors.$color-red-dark,
                $width: $text-field-input-border-error
            );
        }

        &.text-field--with-left-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-red-dark,
                $width: $text-field-input-border-error,
                $icon: left
            );
        }

        &.text-field--with-right-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-red-dark,
                $width: $text-field-input-border-error,
                $icon: right
            );
        }
    }
}

// Disabled

.text-field--disabled {
    &,
    &:hover {
        .text-field__icon {
            fill: colors.$color-black-lighter;
        }

        .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-white-darker,
                $width: $text-field-input-border-default
            );
            color: colors.$color-black-lighter;
        }

        &.text-field--with-left-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-white-darker,
                $width: $text-field-input-border-default,
                $icon: left
            );
        }

        &.text-field--with-right-icon .text-field__input-element {
            @include text-field-shadow(
                $color: colors.$color-white-darker,
                $width: $text-field-input-border-default,
                $icon: right
            );
        }
    }
}

.text-field.text-field--no-border .text-field__input-element {
    // Use transparent border color here so that border width keeps the same
    // and therefore no need to adjust paddings by each state.
    border-color: transparent;
}
