@import '../vayla-design-lib/colors';

.data-product-table {
    &__table-container {
        overflow: auto;
        padding-left: 32px;
        flex-grow: 1;
    }

    &__element-count {
        padding-left: 32px;
    }

    &__table-heading {
        position: sticky;
        top: 0;

        th {
            min-width: 100px;
        }

        &--centered {
            text-align: center;
        }

        &--separator {
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: $color-white-darker;
        }
    }

    &__column--number {
        text-align: right;
    }
}
