@use 'vayla-design-lib' as vayla-design;

.data-product-table {
    &__table-container {
        position: relative;
        overflow: auto;
        padding-left: 32px;
        flex-grow: 1;
        white-space: pre-wrap;
    }

    &__element-count {
        padding-left: 32px;
    }

    &__overlaps-another {
        fill: vayla-design.$color-lemon-dark;
    }

    &__table-heading {
        position: sticky;
        top: 0;

        th {
            min-width: 100px;
        }

        &--centered {
            text-align: center;
        }

        &--separator {
            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: vayla-design.$color-white-darker;
        }
    }

    &__header {
        &--track-number {
            min-width: 100px;
        }

        &--location-track {
            min-width: 160px;
        }

        &--alignment {
            min-width: 85px;
        }

        &--element-type {
            min-width: 110px;
        }

        &--track-address {
            min-width: 110px;
        }

        &--coordinate-system {
            min-width: 135px;
        }

        &--location {
            min-width: 100px;
            text-align: center;
        }

        &--length {
            min-width: 60px;
        }

        &--cant {
            min-width: 55px;
            text-align: center;
        }

        &--curve {
            min-width: 70px;
            text-align: center;
        }

        &--angle {
            min-width: 90px;
            text-align: center;
        }

        &--plan {
            min-width: 350px;
        }

        &--source {
            min-width: 100px;
        }

        &--plan-time {
            min-width: 80px;
        }

        &--remarks {
            min-width: 400px;
        }
    }

    &__column--number {
        text-align: right;
    }
}
