@import '../../vayla-design-lib/colors';

.track-number-panel {
    &__subtitle {
        color: $color-black-lighter;
    }

    &__track-numbers {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        grid-gap: 10px;
        row-gap: 10px;

        list-style: none;
        margin: 0;
        padding: 0;

        font-size: 12px;
        line-height: 16px;
    }

    &__track-number {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .radio {
            margin-right: 8px;
        }
    }
}
