@use 'vayla-design-lib' as vayla-design;

.track-number-panel {
    &__subtitle {
        color: vayla-design.$color-black-lighter;
    }

    &__track-numbers {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__track-number {
        @include vayla-design.typography-caption;

        font-weight: normal;
        white-space: pre-wrap;
        margin: 8px 0;

        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > span:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .radio {
            margin-right: 8px;
        }

        &--disabled {
            color: vayla-design.$color-black-lighter;
            pointer-events: none;
        }
    }
}
