$color-geoviite-blue: #0381ff;
$color-geoviite-cadmium: #ffb800;
$color-geoviite-cadmium-lighter: #ffe799;

$color-geoviite-green-default: #4abc4a;
$color-geoviite-green-dark: #008e00;

$color-geoviite-red-default: #e07764;
$color-geoviite-red-dark: #ab1a00;

$color-geoviite-map-red: #e53e27;
$color-geoviite-map-blue: #389bf6;
