@use '../colors';

$design-lib-table-border-color: colors.$color-white-darker;

.design-demo {
    margin-bottom: 10em;

    h1,
    h2 {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    & > * > p {
        width: 40em;
    }

    table:not(.table) {
        border-spacing: 0;
        border-collapse: collapse;
        margin-bottom: 20px;

        th {
            padding: 5px;
            text-align: left;
            font-weight: normal;
            border: 1px solid $design-lib-table-border-color;
        }

        td {
            padding: 20px;
            text-align: center;
            border: 1px solid $design-lib-table-border-color;
        }
    }
}
