@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/menu/menu';

$appbar-height: 48px;

.app-bar {
    display: flex;
    color: $color-white-default;
    align-items: center;
    background-color: $color-blue-darker;
    max-height: $appbar-height;
    justify-content: space-between;
    padding-left: 16px;

    &__logo {
        margin-right: 12px;
        border-radius: 50%;
        width: $appbar-height - 6;
        height: $appbar-height - 6;
    }

    &__vayla-logo {
        height: $appbar-height - 20;
        margin-right: 12px;
    }

    &__title {
        @include typography-heading;

        font-weight: 400;
        display: flex;
        align-items: center;
        user-select: none;
    }

    &__links {
        overflow: auto hidden;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0 24px;
    }

    &__link {
        @include typography-body-strong;

        white-space: nowrap;
        display: inline-block;
        line-height: $appbar-height;
        height: $appbar-height - 4px;
        padding: 0 12px;
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        transition: border-bottom-color 160ms cubic-bezier(0.61, 1, 0.88, 1);
        border-bottom: 4px solid transparent;

        &:hover {
            color: $color-blue-light;
        }

        &--infra-model-with-exclamation-point {
            padding: 0 20px;
        }

        &--active {
            color: $color-blue-light;
            border-bottom-color: $color-blue-light;
        }

        &--container {
            position: relative;
        }
        &--exclamation-point {
            position: absolute;
            right: -20px;
            bottom: -9px;
        }
    }

    &__data-menu-button {
        position: relative;
        user-select: none;

        &--active {
            color: $color-blue-light;
            border-bottom-color: $color-blue-light;
        }
    }

    &__data-menu {
        @extend .menu;
        position: absolute;
        z-index: 21;
        background: $color-blue-darker;
        border-radius: 5px;
        margin-top: 1px;

        .menu__item {
            @extend .menu__item;
            color: $color-white-default;
            text-decoration: none;

            &:hover {
                background: $color-blue-dark;
                text-decoration: underline $color-blue-dark;
            }
        }
    }
}
