@use 'vayla-design-lib' as vayla-design;

.card {
    @include vayla-design.shadow-4dp;

    padding: 24px 20px;
    border: 1px solid vayla-design.$color-white-dark;
    border-radius: 4px;
    background: vayla-design.$color-white-default;
}
