@use 'vayla-design-lib/colors' as *;

.oid-container {
    display: inline-flex;
    align-items: center;
}

.oid-icon-container {
    display: flex;
    cursor: pointer;
    padding: 0 6px;
}

.oid--dark {
    .oid-icon-container {
        svg {
            fill: $color-blue-light;
        }
    }
}
