@use 'vayla-design-lib' as vayla-design;

.track-layout {
    flex: 1;
    display: grid;
    grid-template-rows: 50px;
    background: vayla-design.$color-white-default;

    &--show-diagram .track-layout__main-view {
        grid-template-areas:
            'navi map tool-panel'
            'navi diagram tool-panel';
    }

    &__main-view {
        overflow: hidden;
        display: grid;
        grid-template-columns: 336px auto 380px;
        grid-template-rows: auto 320px;

        grid-template-areas:
            'navi map tool-panel'
            'navi map tool-panel';
    }

    &__navi {
        @include vayla-design.shadow-8dp;

        grid-area: navi;
        overflow: auto;
        z-index: 2;
        background-color: vayla-design.$color-white-default;

        padding-bottom: 64px;
        min-width: 336px;
        width: 336px;
        max-width: 336px;
    }

    &__map {
        grid-area: map;
        position: relative;
        flex: 1;
    }

    &__diagram {
        @include vayla-design.shadow-8dp;
        grid-area: diagram;
        overflow: hidden;
        display: flex;
        z-index: 1;
    }

    &__tool-panel {
        @include vayla-design.shadow-8dp;

        grid-area: tool-panel;
        overflow: auto;
        z-index: 2;
        background-color: vayla-design.$color-white-default;

        width: 380px;

        .infobox {
            &:last-of-type {
                margin-bottom: 64px;
            }
        }

        .tool-panel {
            overflow: hidden auto;
            height: 100%;
        }
    }
}
