@import '../vayla-design-lib/colors';
@import '../vayla-design-lib/shadows';
@import '../vayla-design-lib/typography';
@import '../vayla-design-lib/layers';
@import '../geoviite-design-lib/geoviite-colors';

.track-layout {
    flex: 1;
    display: grid;
    grid-template-rows: 50px;
    background: $color-white-default;
}

.track-layout__map {
    position: relative;
    flex: 1;
}

.track-layout__main-view {
    overflow: hidden;
    display: flex;
}

.track-layout__map-settings {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: $layer-popup;
}

.track-layout__tool-panel {
    @include shadow-8dp;
    width: 380px;

    .infobox {
        &:last-of-type {
            margin-bottom: 64px;
        }
    }

    .tool-panel {
        overflow: hidden auto;
        height: 100%;
    }
}

.track-layout__navi {
    @include shadow-8dp;

    padding-bottom: 64px;
    min-width: 336px;
    width: 336px;
    max-width: 336px;
    overflow: auto;
}
